<%= javascript_include_tag "validation" %>
<%= stylesheet_link_tag 'compose_message' %>
<div class="content">
  <div class="boxpop-up">
    <div class="heading"><%= @user.name.capitalize rescue nil%> <%= @user.last_name[0,1] rescue nil %></div>
    <%= form_for(@message, :url => {:controller=>"messages", :action=>"sent_to"}, :html=>{:id=>"reply_message"}, :remote=> true) do |f| %>
      <% if @message.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>
          <ul>
          <% @message.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <%= f.hidden_field :recipient_id, :value =>@user.id %>
        <%= f.hidden_field :sender_id, :value =>current_user.id %>
        <%= f.hidden_field :post_id, :value =>params[:post_id] %>
      </div>
      <div class="paragraph-new">
        <%= f.text_area :body ,:class => "text_area" ,:style => "width:338px; border: 2px solid #eee font-family: brandon4;" ,:rows => "5"%>
      </div>
      <%= f.submit "Proceed",:class=>"booking-btn"%>
    <% end %>
  </div>
</div>