<% unless params[:recv_id].nil?%>
<table style='border-spacing: 40px;border-collapse: separate;height:100%;'>
	<tr><td valign='top'>
	Users 
		<div class="menu_simple">
			<div id="user_msg"></div>


		</div>


		</td>
		<td valign='top'>
			<div style="width:40%;text-align:center"><h4>Message</h4></div>

 			<p id="notice"><%= notice %></p>
			<div id="refresh_msg">
			</div>	

			<%= render 'reply'%>

   
 		</td>
	</tr>
</table>

<% end %>



<script>

	jQuery(document).ready(function() {
		jQuery("#refresh_msg").load('<%= refresh_message_messages_path(:recv_id=>"#{params[:recv_id]}") %>');

	});

	var refreshId = setInterval(function()
	{
	     $('#responsecontainer').fadeOut("slow").load('<%= refresh_part_messages_path%>').fadeIn("slow");
	}, 10000);
</script>
<script>
	var refresmsg_hId = setInterval(function()
	{
	     $('#refresh_msg').load('<%= refresh_message_messages_path(:recv_id=>"#{params[:recv_id]}")%>');
	}, 10000);
	</script>


	<script>

	jQuery(document).ready(function() {
		jQuery("#user_msg").load('<%= user_message_messages_path(:recv_id=>"#{params[:recv_id]}") %>');

	});

</script>
<script>
	var refresmsg_hId = setInterval(function()
	{
	     $('#user_msg').load('<%= user_message_messages_path(:recv_id=>"#{params[:recv_id]}")%>');
	}, 10000);
</script>