

<h4>Messages</h4>

 <%= form_tag move_all_to_trash_recipient_messages_path, :method => :put do %>
  <% @messages.each do |message| %>
    <%if (message.message_id == nil) || (message.message_id == message.post_id)%>
    <div><br>
    <img src="assets/thumb_profile.jpg" alt="">
      <a class="submit_btn" style="margin:0" href="<%= reply_message_path(message)%>"><%= message.sender.name%></a><p>
     Subject: 
     <% if message.is_read %>
      <%= message.subject  %>
     <% else %>
     <b><%= message.subject  %></b>
     <% end %>
    </div>
    <% end %>
   <% end %>
<% end %>
  




