<h4>Messages</h4>

      <%= form_tag move_all_to_trash_recipient_messages_path, :method => :put do %>

    

<% @messages.each do |message| %>
       
    
    <%#= check_box_tag "message_ids[]", message.id %>
    

    <div><%= message.sender.email %></div>
    <div style="margin:0 0 5px 0">Subject: 
      <% if message.is_read %>
      <%= link_to message.subject , message , :class => "bluelink" %>
      <% else %>
      <b><%= link_to message.subject , message , :class => "bluelink" %></b>
      <% end %>
    </div>
    <div>Message:<%= message.body.html_safe %></div>

    
    
    
    <ul class="action">
<!-- s -->
    <% if message.is_read %>
 <!--    <li><a href="#"><img src="mail_read.png" alt="" border="0"></a></li> -->
    <% end %>
    <li><%= link_to image_tag("delete.png"), trash_message_path(message),method: :post, data: { confirm: 'Move To Trash?' } %></li>
    
    </ul>
    
    
    
   
    

<% end %>

  

    
<!--     <div class="message">

    <div style="float:right">  <%#= submit_tag "Move To Trash", :class=> "submit_btn"  %>  </div>
    
    </div> -->
    <% end %>


        
    