		<div class="main-new">
            <ul class="verticle-menu">
	         
	            <li><%= link_to "Personal Information", edit_user_path(current_user) %></li>
	            <li><%= link_to "Change Password", edit_user_registration_path %></li>
	            <li><%= link_to "Bank Details",bank_details_path %></li>
	            <li><%= link_to "My Post",posts_path%></li>
	            <li><%= link_to "My Order/Received",order_receives_path%></li>
	            <li><%= link_to "My Booking", bookings_path%></li>
	            <li><%= link_to "Payment", payments_path%></li>

	            <li class="active"><%= link_to("<span></span>".html_safe + "Message", {:controller => '/messages',:action => 'is_read_all', :id =>current_user.id,:method => :post}) %> </li>
                
            </ul>
            
            <div class="chat-wrap">
                
	            <div id="user_msg"></div>
	            <%unless params[:recv_id].present?%> 
	              <div class="chatdiv" style="height:460px;">
		            
	              </div>
	            <%else%>
	              <div class="chatdiv">
		            <div class="content">
			            <div id="refresh_msg"></div>
		            </div>
		            <div class="enter">Press ENTER to send</div>
	              </div>
                <%end%>
                <%if params[:recv_id].present?%>
		            <div class="inbputbg">
		            	<%= render 'reply', :message => @message %>
		            </div>
	            <%end%>
	            
            </div>
            
        </div>



        <!-- custom scrollbar plugin -->
    <%= stylesheet_link_tag  'scroll', "jquery.mCustomScrollbar" %>
    <%= javascript_include_tag "bootstrap.min", "jquery.mCustomScrollbar.concat.min", "scrollbar.js" %>
	
	

	<script>

	jQuery(document).ready(function() {
		jQuery("#refresh_msg").load('<%= refresh_message_messages_path(:recv_id=>"#{params[:recv_id]}") %>');

		jQuery('#submit_msg').click(function() {
			var text_title = this.form.message_body.value;
			if(text_title != ''){
				$("#reply_message").submit();
				$("#message_body").val('');
			}
		});

    	jQuery("#message_body").keyup(function (e) {

        var code = (e.keyCode ? e.keyCode : e.which);
        
        var text_title = this.form.message_body.value;
	      
		   if(text_title != ''){

		      jQuery('input[type="button"]').addClass('msg_active');

		      if (code == 13) {
	        	$("#reply_message").submit();
	        	$("#message_body").val('');	
	            return true;
	         }
		   } 
		   if(text_title == '')
			{
				jQuery('input[type="button"]').removeClass('msg_active');
			}

		});

	});

	var refreshId = setInterval(function()
	{
	     $('#responsecontainer').fadeOut("slow").load('<%= refresh_part_messages_path%>').fadeIn("slow");
	     
	}, 1000);

	var refresmsg_hId = setInterval(function()
	{
	     $('#refresh_msg').load('<%= refresh_message_messages_path(:recv_id=>"#{params[:recv_id]}")%>');
	     $(".content").mCustomScrollbar("scrollTo", "bottom");
	}, 1000);
	
	

	jQuery(document).ready(function() {
		jQuery("#user_msg").load('<%= user_message_messages_path(:recv_id=>"#{params[:recv_id]}") %>');
		
	});


	var refresmsg_hId = setInterval(function()
	{
	     $('#user_msg').load('<%= user_message_messages_path(:recv_id=>"#{params[:recv_id]}")%>');
	}, 1000);


</script>