
 <div style="width:40%;"><h4>Message</h4></div>

<p id="notice"><%= notice %></p>
<br>

<p>
  <b>Subject</b>: <%= @messageee.subject %><br/><br/>
    <% msg1 = [] %>
      <% @msgs.each do |i| %>
      <b> <%= i.sender.name %> </b>:
          <%= i.body %><br/>
          <% msg1 << i.id%>
      <% end %>

</p>

<%= render 'reply'%>