<%= javascript_include_tag "jquery-1.7.0.min","jquery.validate.min","admin_validation" %>
<script src="/assets/faqs.js"></script>
<%= form_for @faq, :html => { :multipart => true } do |f| %>
  <% if @faq.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@faq.errors.count, "error") %> prohibited this faq from being saved:</h2>

      <ul>
      <% @faq.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <%= f.fields_for :faq_questions do |builder| %>
    <%= render  "faq_question_fields", :f => builder %>
  <% end %> 

  <div ><%= link_to_add_fields "Add",f, :faq_questions%></div> 


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
