<%#= stylesheet_link_tag   "bootstrap.min.css"%>
<%= javascript_include_tag "ddaccordion.js", "jquery.min.js" %>

<script type="text/javascript">
//Initialize 2nd demo:
ddaccordion.init({
  headerclass: "technology", //Shared CSS class name of headers group
  contentclass: "thelanguage", //Shared CSS class name of contents group
  revealtype: "click", //Reveal content when user clicks or onmouseover the header? Valid value: "click", "clickgo", or "mouseover"
  mouseoverdelay: 200, //if revealtype="mouseover", set delay in milliseconds before header expands onMouseover
  collapseprev: false, //Collapse previous content (so only one open at any time)? true/false 
  defaultexpanded: [], //index of content(s) open by default [index1, index2, etc]. [] denotes no content.
  onemustopen: false, //Specify whether at least one header should be open always (so never all headers closed)
  animatedefault: false, //Should contents open by default be animated into view?
  scrolltoheader: false, //scroll to header each time after it's been expanded by the user?
  persiststate: false, //persist state of opened contents within browser session?
  toggleclass: ["closedlanguage", "openlanguage"], //Two CSS classes to be applied to the header when it's collapsed and expanded, respectively ["class1", "class2"]
  togglehtml: ["prefix", "<img src='/assets/down.png' style='width:9px; height:5px; float:right; margin-top:8px' /> ", "<img src='/assets/top.png' style='width:9px; height:5px; float:right; margin-top:8px' /> "], //Additional HTML added to the header when it's collapsed and expanded, respectively  ["position", "html1", "html2"] (see docs)
  animatespeed: "fast", //speed of animation: integer in milliseconds (ie: 200), or keywords "fast", "normal", or "slow"
  oninit:function(expandedindices){ //custom code to run when headers have initalized
    //do nothing
  },
  onopenclose:function(header, index, state, isuseractivated){ //custom code to run whenever a header is opened or closed
    //do nothing
  }
})

</script>

<div class="main-new">
  <ul class="verticle-menu">
    <li><%= link_to "Contact Us",home_contactus_path%></li>
    <li class="active"><%= link_to "FAQs",frequently_asked_question_path%></li>
  </ul>
  <div class="right-side">
    <div class="blue-header">
      <%= form_tag frequently_asked_question_path, method: :get do %>
        <span class="font20"><%= text_field_tag :search, params[:search]%></span>
        <div class="search">
          <%= image_submit_tag("search_new.png")%>
        </div>
      <% end %>
    </div>
    <div class="faq-wrap">
      <div class="expand">
        <a href="#" onClick="ddaccordion.collapseall('technology'); return false">Collapse all</a>  - <a href="#" onClick="ddaccordion.expandall('technology');
                 return false">Expand all</a> 
      </div>
      <% @faqs.each do |faq|%>
        <div class="technology">
          <%= faq.title%>
        </div>
        <div class="thelanguage">
          <%faq.faq_questions.each do |faq_question|%>
          <span><%= faq_question.question rescue nil%></span>

          <%= faq_question.answer %>
          <div class="sep"></div>
          <%end%>
        </div>
      <%end%>
    </div>
  </div>
</div>