<div class="main-new">
    <ul class="verticle-menu">
    <li><%= link_to "Personal Information", edit_user_path(current_user) %></li>
    <li><%= link_to "Change Password", edit_user_registration_path %></li>
    <li><%= link_to "Bank Details",bank_details_path %></li>
    <li><%= link_to "My Post",posts_path%></li>
    <li><%= link_to "My Order/Received",order_receives_path%></li>
    <li><%= link_to "My Booking", bookings_path%></li>
    <li class="active"><%= link_to "Payment", payments_path%></li>
    <li><%= link_to "Message", {:controller => '/messages',:action => 'is_read_all', :id =>current_user.id,:method => :post} rescue nil %></li>
    </ul>
    <div class="right-side">
    	<div class="payment-wrap">
            <% @bookings.each do |booking|%>
            <% if booking.refund_finder.nil? && (booking.name == "transfered") && (current_user == booking.user) %>
            <% elsif (current_user == booking.poster)  && (booking.name == "created") %>
            <% else %>
            <div class="order-box">
                <div class="pay-col pay-col1">
                	<%if booking.stripe_charge_id? %>
                    <span>Payment type</span> :
                        <%= payment_status(booking) %>
                    <%end%>
                    <p>
                        <%= post_link(booking) %>
                    </p>
                </div>
                <div class="pay-col pay-col1">
                    <% if booking.user_id == current_user.id %>
                	   <span>To/From</span>: <%= booking.poster_name.capitalize rescue nil %> <%= booking.poster_last_name[0,1] rescue nil%>
                    <% else %>
                        <span>To/From</span>: <%= booking.user_name.capitalize rescue nil %> <%= booking.user_last_name[0,1] rescue nil%>
                    <% end %>
                </div>
                <div class="pay-col pay-col1">
                	<span>Date of transaction</span>: <%= booking.transaction_date.strftime("%m/%d/%Y")%>
                </div>
                <div class="pay-col pay-col1">
                    <% if booking.user_id == current_user.id %>
                      <span>Amount</span>: $ <%= send_by_user(booking) %>
                    <% else %>
                	<span>Amount</span>: $ <%= received_by_poster(booking) %>
                    <% end %>
                </div>
            </div>
            <% end %>
            <%end%>
          <span class="center_align">  <%= will_paginate @bookings %></span>
        </div>
    </div>
</div>