<%= javascript_include_tag "jquery.ui.core", "jquery.ui.datepicker.js" %>
<%= stylesheet_link_tag   "jquery.ui.core", "jquery.ui.theme", "jquery.ui.datepicker"%>
<%= stylesheet_link_tag 'bookreviews.css','font-awesome.css', "facebox.css" %>
<script type="text/javascript">

    jQuery(function($){
      $("#start_date").datepicker({dateFormat: 'M d,yy',changeMonth: false,changeYear: false,showOn: 'button', buttonImage: '/assets/cal_icon2.png', buttonImageOnly: true})

    });
    jQuery(function($){
      $("#end_date").datepicker({dateFormat: 'M d,yy',changeMonth: false,changeYear: false, showOn: 'button', buttonImage: '/assets/cal_icon2.png', buttonImageOnly: true})
    });
</script>

<%= javascript_include_tag "jquery-1.7.0.min","jquery.validate.min","validation", "facebox.js" %>
<div class="main-new">
  <ul class="verticle-menu">
    <li><%= link_to "Personal Information", edit_user_path(current_user) %></li>
    <li><%= link_to "Change Password", edit_user_registration_path %></li>
    <li><%= link_to "Bank Details",bank_details_path %></li>
    <li><%= link_to "My Post",posts_path%></li>
    <li class="active"><%= link_to "My Order/Received",order_receives_path%></li>
    <li><%= link_to "My Booking", bookings_path%></li>
    <li><%= link_to "Payment", nil%></li>
    <li><%= link_to "Message", {:controller => '/messages',:action => 'is_read_all', :id =>current_user.id,:method => :post} rescue nil %></li>
  </ul>
            
  <div class="right-side">
    <div class="blue-header">
                    <%= form_tag search_order_received_by_date_path,:method => 'get' do %>
                    <ul class="date">
                    <li>
                    From <span><%= text_field_tag :start_date, params[:start_date],:autocomplete => :off,:readonly => true, :class => "date", :style => "padding: 3px;"%></span>
                    </li>
                    
                    <li>
                    To <span><%= text_field_tag :end_date, params[:end_date],:autocomplete => :off,:readonly => true, :class => "date", :style => "padding: 3px;" %></span>
                    </li>
                    
                    </ul>
                    <div class="search">
                      <%= image_submit_tag("search_new.png")%>
                    <!-- <a href=""><img src="/assets/search_new.png"></a> -->
                    </div>
                    <%end%> 
    </div>
    <div class="order-wrap">
      <% @bookings.each_with_index do |booking, index|%>
      <div class="order-box">
        <div class="order-col order-col1">
          <!-- <div class="heading"> -->
          <div  style="color: #14263a; font-family: brandon4; margin-top: 0;">
            <h4><%= User.find(booking.user_id).name %></h4>
          </div>
          <p>
            <%= Post.find(booking.post_id).address %>
          </p>
          <p>
            Total amount : $<%=booking.price %>
          </p>
          <p>
            <div id="message_<%= booking.post_id %>">
            <%= link_to "Message ", compose_message_messages_path(:user_id => booking.user_id,:post_id => booking.post_id ), :remote=>true, :class=>"round-btn" %>
            </div>
          </p>
        </div>
        <div class="order-col order-col1 order-col1-tmar">
          <span>Booking area</span> : <%= booking.area%> sq. ft
            <p>
              <span>Rate</span> : $<%= booking.post.price_sq_ft%>/sq.ft.
            </p>
            <p>
              <%if booking.status.present?%>
                <span>Status</span> :<%= booking.status%>
              <%else%>
                <span>Status</span> :Awaiting drop-off confirmation
              <%end%>
            </p>
            <p>
              <a href="#">Cancel booking</a>
            </p>
        </div>
        <div class="order-col order-col1 order-col1-tmar">
          <span>Drop-off date</span> : <%= booking.dropoff_date.strftime("%B %d, %Y")%>
          <p>
            <span>Booked drop-off</span>
            <% if booking.dropoff_price != 0 %>
              <label class="tasks-list-item">
                <input type="checkbox" class="tasks-list-cb" value="1" name="task_3" disabled="disabled" checked="checked">
                <span class="tasks-list-mark"></span>
              </label>
                $<%= booking.pickup_price %>
              <%else%>
                <label class="tasks-list-item">
                <input type="checkbox" class="tasks-list-cb" value="1" name="task_3" disabled="disabled">
                <span class="tasks-list-mark"></span>
                </label>
              <%end%>
              
              <!--<span class="tasks-list-desc">Left Label</span>-->
            
            
          </p>
          <p class="vmp">
            <%= link_to "View My Post",{:controller => 'bookings', :action => 'show', :id => booking.id}%>
          </p>
        </div>
        <div class="order-col order-col1 order-col1-tmar">
          <span>Pick-up date</span>  : <%= booking.pickup_date.strftime("%B %d, %Y")%>

          <p>
            <span>Booked pick-up</span>
            
              <% if booking.pickup_price != 0 %>
              <label class="tasks-list-item">
                <input type="checkbox" class="tasks-list-cb" value="1" name="task_3" disabled="disabled" checked="checked">
                <span class="tasks-list-mark"></span>
              </label>
                $<%= booking.pickup_price %>
              <%else%>
              <label class="tasks-list-item">
                <input type="checkbox" class="tasks-list-cb" value="1" name="task_3" disabled="disabled">
                <span class="tasks-list-mark"></span>
              </label>
              <%end%>
              
              <!--<span class="tasks-list-desc">Left Label</span>-->
            
          </p>
        </div>
      </div>
      <%end%>
    </div>
  </div>
</div>
