
 <div class="main2">
                <div class="main-new">
                 <ul class="verticle-menu" style="min-height:630px;">
                    <li ><%= link_to "Personal Information",edit_user_path(current_user)%></li>
                    <li class="active"><%= link_to "Change Password", edit_user_registration_path%></li>
                    <li> <%= link_to "Bank Detail", bank_details_path%></li>
                    <li><a href="#">My Post</a></li>
                    <li><a href="#">My Order Received</a></li>
                    <li><a href="#">My Booking</a></li>
                    <li><a href="#">Payment</a></li>
                    <li><a href="#">Message</a></li>
                </ul>

   <div class="new_login4">
                 <div class="f1">

                 <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {:class=>"change_password", method: :put }) do |f| %>
                <%= devise_error_messages! %>
                <fieldset class="textbox">
                     
              <label class="username">
               <%= f.password_field :current_password, autocomplete: "off",:id=>"password1", :placeholder=>"Old password" %>

                </label>
                
                <label class="username">
               <%= f.password_field :password, autocomplete: "off",:id=>"password1", :placeholder=>"New password" %>

                </label>
                
                <label class="username">
             <%= f.password_field :password_confirmation, autocomplete: "off",:id=>"password1", :placeholder=>"Confirm password"  %>
         
                </label>
                
                </fieldset>
                <%= f.submit "Change password",:class=>"button-new5"%>
                  <% end %>
     
             </div> 
          </div>
        </div> 
    </div>




           



<!-- <h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p> -->

<%#= link_to "Back", :back %>

<%#if request.path == '/personal_information'%>

<%#end%>