<%# content_for :scripts do %>
<%= javascript_include_tag  "jquery-1.7.0.min","jquery.validate.min","validation","facebox" %>
<%# end %>

  <div class="boxpop-up-login">

    <div class="heading-login mrleft75">Sign up</div>
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name),:html => {:id => "user"}) do |f| %>
    <div class="login-popup"> 
      <%= f.text_field :name, :placeholder=>"Name" %>
    </div>

    <div class="password-new-up"> 
      <%= f.text_field :last_name, :placeholder=>"Last name" %>
      <%= f.hidden_field :email, :value=>session[:email], :readonly => true %>
    </div>

    <div class="password-new-up"> 
      <%= f.text_field :personal_email, :placeholder=>"Secondary email" %>
    </div>

    <div class="password-new-up"> 
      <%= f.password_field :password, autocomplete: "off", :placeholder=>"Create password" %>
    </div>
    
    <div class="password-new-up"> 
      <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder=>"Password" %>
    </div>

    <div class="new-checkbox">
      
      <label class="tasks-list-item">
      <input type="checkbox" id="termsConditions" name="termsConditions" class="tasks-list-cb"/>

      <span class="tasks-list-mark"></span>
    </label>
         <p style="margin:-25px 0 0 44px; color:#7b7b7b; text-decoration: underline; font-family: brandon4;"> I agree term & condition</p>
    </div>
        
     

    <div style="text-align:center">
      <%= f.submit "Submit", :class=>"loginnew-btn" %>
    </div>
    <% end %>
    <div style="text-align:center;"> OR </div>
    <div class="facebook-up-btn">
      <a href="/users/auth/facebook">Sign up with Facebook</a>
    </div>

    <div class="bottom-div">
      <div class="regErr"> <% unless resource.errors.empty? %> Error <% end %></div> <!-- <div style="float:left;margin: 0px 0 18px 132px"> Cancel</div> -->
    </div>
   
  </div>
