<%= javascript_include_tag "jquery.fancybox.pack.js" %>


<%= stylesheet_link_tag "jquery.fancybox.css"%>



  <script type="text/javascript">

    jQuery(function($){
      $("#start_date").datepicker({dateFormat: 'yy-mm-dd',changeMonth: false,changeYear: false,showOn: 'button', buttonImage: 'http://jqueryui.com/resources/demos/datepicker/images/calendar.gif', buttonImageOnly: true})

    });
    jQuery(function($){
      $("#end_date").datepicker({dateFormat: 'yy-mm-dd',changeMonth: false,changeYear: false, showOn: 'button', buttonImage: 'http://jqueryui.com/resources/demos/datepicker/images/calendar.gif', buttonImageOnly: true})
    });


  </script>  

<% if signed_in? && current_user.admin? %>

<h4>Search by</h4>
  <%= form_tag search_path,:method=> :get, :id=>"admin_users"  do %>
  <%= text_field_tag :q, params[:q] %>
From Date :
<%= text_field_tag :start_date, params[:start_date], :readonly => true %>

To Date :
<%= text_field_tag :end_date, params[:end_date], :readonly => true %>&nbsp;
<%#= select_tag(:created, options_for_select(['All', 'Monthly', 'Weekly', 'Daily'])) %>

  <%= submit_tag "Search", :class => "btn btn-primary contact-form"  %> 
  <%end%>
  <% unless @adminusers.blank? %>
      <div  style="text-align:right;margin-left:10px;">
            <a href="<%= admins_path(params.merge(format: "xls")) %>" class="btn btn-secondary"><img src="/assets/excel.png" alt=""> Excel</a> 
            <a href="<%= admins_path(params.merge(format: "pdf"))  %>" class="btn btn-secondary" target="_blank"><i class="icon"><img src="/assets/pdf.png" alt=""></i> PDF</a><br><br>
     </div>
    
  <%end%>
<div>
<%= link_to "Add new User",new_user_users_path%> 
</div> <br>
<table class="table table-striped">
<tr>
<th>User ID</th>
<th>First Name </th>
<th>College email ID</th>
<th>Number of posts created</th>
<th>Number of bookings made (by this user)</th>
<th>Charging card</th>
<th>Receiving card</th>
<th>User Status</th>
</tr>
<% @adminusers.each do |adminuser|%>
<tr>
<td><%= adminuser.id %></td>
<td><%= adminuser.name %></td>
<td><%= adminuser.email %></td>
<td><%= adminuser.posts.count %></td>
<td><%= adminuser.bookings.count%></td>
<%if adminuser.bookings.present? %>
  <td>YES</td>
<%else%>
  <td>NO</td>
<%end%>
<%if adminuser.bank_detail.present? %>
  <td>YES</td>
<%else%>
  <td>NO</td>
<%end%>
<td><%= link_to format_boolean(adminuser.status?), {:controller => 'users', :action => 'toggled_status', :id => adminuser.id} %> | 
	<%= link_to "Show", admin_path(adminuser.id) %> | <%= link_to "Delete", admin_path(adminuser.id), :method=> :delete, data: { confirm: 'Are you sure?' } %>
</td>
</tr>
<%end%> 
</table>
<%= will_paginate @adminusers %>
<% else %>
<h1>Home Page</h1>
<%end%>


<%#= will_paginate @adminusers %>

