<%= javascript_include_tag "jquery-1.7.0.min","jquery.validate.min","admin_validation" %>

<%= form_for(about_u) do |f| %>
  <% if about_u.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(about_u.errors.count, "error") %> prohibited this about_u from being saved:</h2>

      <ul>
      <% about_u.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, :maxlength => 100 %>
  </div>

  <div class="field">
      <%= f.label :Photo %>
      <%= f.file_field :photo %>
  </div><br/>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, :style=>"width:300px; height: 125px;" %>
  </div>


  <div class="actions">
    <%= f.submit "Save", :class=>"btn btn-primary" %>
  </div>
<% end %>
