<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @about_u.content %>
</p>
 <%= image_tag(@about_u.photo.url(:medium)) %>
<%= link_to 'Edit', edit_about_u_path(@about_u) %> |
<%= link_to 'Back', about_us_path %>
