<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @credit_card.email %>
</p>

<p>
  <strong>Stripe customer:</strong>
  <%= @credit_card.stripe_customer_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @credit_card.user_id %>
</p>

<p>
  <strong>Last digit:</strong>
  <%= @credit_card.last_digit %>
</p>

<%= link_to 'Edit', edit_credit_card_path(@credit_card) %> |
<%= link_to 'Back', credit_cards_path %>
