<%= javascript_include_tag "jquery.ui.core", "jquery.ui.datepicker.js", "select_date" %>
<%= stylesheet_link_tag   "jquery.ui.core", "jquery.ui.theme", "jquery.ui.datepicker", "bookings.css" %>

<script>

 function checkAndSubmit()
{
   if ($('#start_date').val() != null && $('#end_date').val() != null)
    {
      //document.getElementById('formID').submit();
      var start_date = $('#start_date').val();
      var end_date = $('#end_date').val();
      window.location.href = '/search_by_date?start_date=' + start_date +"&end_date="+end_date;
     }
}
</script>


<div class="main-new">
            <ul class="verticle-menu">
              <li><%= link_to "Personal Information", edit_user_path(current_user) %></li>
              <li><%= link_to "Change Password", edit_user_registration_path %></li>
              <li><%= link_to "Bank Details",bank_details_path %></li>
              <li><%= link_to "My Post",posts_path%></li>
              <li><%= link_to "My Order/Received",order_receives_path%></li>
              <li class="active"><%= link_to "My Booking", bookings_path%></li>
              <li><%= link_to "Payment", payments_path%></li>
              <li><%= link_to "Message", {:controller => '/messages',:action => 'is_read_all', :id =>current_user.id,:method => :post} rescue nil %></li>
            </ul>


            <div class="right-side">
              <div class="blue-header">
                    <%= form_tag search_by_date_path,:method => 'get' do %>
                    <ul class="date">
                    <li>
                    From <span><%= text_field_tag :start_date, params[:start_date],:autocomplete => :off,:readonly => true, :class => "date", :style => "padding: 3px;"%></span>
                    </li>

                    <li>
                    To <span><%= text_field_tag :end_date, params[:end_date],:autocomplete => :off,:readonly => true,:class => "date",:style => "padding: 3px;" %></span>
                    </li>

                    </ul>
                    <div class="search">
                    <%= image_submit_tag("search_new.png")%>
                    <!-- <a href=""><img src="/assets/search_new.png"></a> -->
                    </div>
                    <%end%>
              </div>

                <div class="booking-wrap">
                <div class="bmar10 font10">
                  <% if params[:cancelled].present? %>
                    <%= link_to "Show all", bookings_path, :style=>"color:#000" %> / <%= link_to "Hide cancelled and past bookings", bookings_path(:cancelled => true) %>
                  <% else %>
                    <%= link_to "Show all", bookings_path %> / <%= link_to "Hide cancelled and past bookings", bookings_path(:cancelled => true), :style=>"color:#000" %>
                  <% end %>
                </div>
                    <% @bookings.each_with_index do |booking, index|%>
                    <div class="booking-box">

                        <div class="booking-col">
                            <span class="booking-name">
                              <%= booking.poster_name.capitalize rescue nil%>
                              <%= booking.poster_last_name[0,1] rescue nil%>
                            </span>
                            <% if booking.poster.present? %>
                              <% if current_user.provider.present? && booking.poster_provider.present? && booking.post_user_id != current_user.id %>
                                (<%= mutual_friend_list(booking.post_user_id) rescue nil%> mutual friends)
                              <% end %>
                            <% end %>
                            <p>
                            <%= booking.post_address rescue nil %>
                            <%= booking.post_street_add rescue nil %>
                            <%= booking.post_apt rescue nil%><br>
                            <%= booking.post_city rescue nil %>
                            <%= booking.post_state rescue nil %>
                            <%= booking.post_zip_code rescue nil %>
                            </p>
                        </div>


                        <div class="booking-col1">
                        <span>Booking area</span> : <%= booking.area %> sq. ft

                        <p>

                           <% if booking.is_cancel == true %>
                              <span>Status</span> : Cancelled
                            <% elsif booking.is_confirm == true %>
                              <span>Status</span> : Confirmed booking
                            <% else %>
                              <span>Status</span> : Waiting for drop-off confirmation
                            <% end %>

                        </p>

                        </div>

                        <div class="booking-col1">
                        <span>Drop-off date</span> : <%= booking.dropoff_date.strftime("%B %d,%Y") %>
                        <p>
                        <span>Booked drop-off</span>
                        <% if booking.dropoff_price != 0 %>
                          <label class="tasks-list-item">
                            <input type="checkbox" class="tasks-list-cb" value="1" name="task_3" disabled="disabled" checked="checked">
                            <span class="tasks-list-mark"></span>
                          </label>
                            $<%= booking.dropoff_price %>
                          <%else%>
                            <label class="tasks-list-item">
                            <input type="checkbox" class="tasks-list-cb" value="1" name="task_3" disabled="disabled">
                            <span class="tasks-list-mark"></span>
                            </label>
                        <%end%>
                        </p>
                        <p>
                        
                          <%= link_to "Confirm drop-off ", drop_off_bookings_path(:booking_id => booking.id,:index => "index" ), :remote=>true, :class=>"booking-button" %>
                        </p>

                    </div>

                        <div class="booking-col1">
                        <span>Pick-up date</span>  : <%= booking.pickup_date.strftime("%B %d,%Y") %>
                        <p>

                        <span>Booked pick-up</span>
                        <% if booking.pickup_price != 0 %>
                          <label class="tasks-list-item">
                            <input type="checkbox" class="tasks-list-cb" value="1" name="task_3" disabled="disabled" checked="checked">
                            <span class="tasks-list-mark"></span>
                          </label>
                            $<%= booking.pickup_price %>
                          <%else%>
                          <label class="tasks-list-item">
                            <input type="checkbox" class="tasks-list-cb" value="1" name="task_3" disabled="disabled">
                            <span class="tasks-list-mark"></span>
                          </label>
                        <%end%>
                        <!--<span class="tasks-list-desc">Left Label</span>-->
                        <p style="margin-top: 13px !important;">
                          <%= link_to "View Post", booking_path(booking.id) %>
                        </p>
                        </p>
                        </div>

                        <div class="note"><span>Notes</span> : <%=booking.post_additional_comments rescue nil %>
                        </div>

                        </div>
                  <%end%>

                  <span class="center_align"><%= will_paginate @bookings %></span>
                </div>
            </div>
        </div>
