<%= javascript_include_tag "jquery.ui.core", "jquery.ui.datepicker.js" %>
<%= stylesheet_link_tag   "jquery.ui.core", "jquery.ui.theme", "jquery.ui.datepicker"%>

<script type="text/javascript">

    jQuery(function($){
      $("#start_date").datepicker({dateFormat: 'M d,yy',changeMonth: false,changeYear: false,showOn: 'button', buttonImage: '/assets/cal_icon2.png', buttonImageOnly: true})

    });
    jQuery(function($){
      $("#end_date").datepicker({dateFormat: 'M d,yy',changeMonth: false,changeYear: false, showOn: 'button', buttonImage: '/assets/cal_icon2.png', buttonImageOnly: true})
    });
</script>

 
<script>

 function checkAndSubmit()
{
   if ($('#start_date').val() != null && $('#end_date').val() != null)
    {
      //document.getElementById('formID').submit();
      var start_date = $('#start_date').val();
      var end_date = $('#end_date').val();
      window.location.href = '/search_by_date?start_date=' + start_date +"&end_date="+end_date;
     } 
}
</script>


<div class="main-new">
            <ul class="verticle-menu">
             <li><%= link_to "Personal Information", edit_user_path(current_user) %></li>
              <li><%= link_to "Change Password", edit_user_registration_path %></li>
              <li><%= link_to "Bank Details",bank_details_path %></li>
              <li><%= link_to "My Post",posts_path%></li>
              <li class="active"><%= link_to "My Order/Received",order_receives_path%></li>
              <li><%= link_to "My Booking", bookings_path%></li>
              <li><%= link_to "Payment", nil%></li>
              <li><%= link_to "Message", {:controller => '/messages',:action => 'is_read_all', :id =>current_user.id,:method => :post} rescue nil %></li>
            </ul>
          

            <div class="right-side">
              <div class="blue-header">
                    <%= form_tag search_by_date_path,:method => 'get' do %>
                    <ul class="date">
                    <li>
                    From <span><%= text_field_tag :start_date, params[:start_date],:autocomplete => :off, :class => "date", :style => "padding: 3px;"%></span>
                    </li>
                    
                    <li>
                    To <span><%= text_field_tag :end_date, params[:end_date],:class => "date",:style => "padding: 3px;" %></span>
                    </li>
                    
                    </ul>
                    <div class="search">
                    <%= submit_tag "Submit"%>
                    <!-- <a href=""><img src="/assets/search_new.png"></a> -->
                    </div>
                    <%end%> 
              </div>
                
                <div class="booking-wrap">
                <div class="bmar10 font10"><a href="">Show all</a> / Hide cancelled and past bookings</div>
                    <% @bookings.each_with_index do |booking, index|%>
                    <div class="booking-box">
                        
                        <div class="booking-col">
                            <span class="booking-name"><%= User.find(booking.poster_id).name.capitalize rescue nil%> <%= User.find(booking.poster_id).last_name[0,1] rescue nil%></span><% if booking.post.user.provider.present? && booking.post.user_id != current_user.id %>
                                (<%= mutual_friend_list(booking.post.user.id) rescue nil%> mutual friends)<% end %>
                            <p>
                            <%= Post.find(booking.post_id).address%>
                            </p>
                        </div>
                        
                       
                        <div class="booking-col1">
                        <span>Booking area</span> : <%= booking.area %> sq. ft
                        <p>
                           <%if booking.status.present? %>      
                              <span>Status</span> : <%= booking.status rescue nil%>
                           <%else%>
                              <span>Status</span> : Waiting for drop-off confirmation
                           <%end%>
                        </p>
                        </div>
                        
                        <div class="booking-col1">
                        <span>Drop-off date</span> : <%= booking.dropoff_date.strftime("%B %m,%Y") %> 
                        <p>
                        <span>Booked drop-off</span> 
                        <label class="tasks-list-item">
                        <% if booking.dropoff_price != 0 %>
                           <input id="false" type="checkbox" value="1" name="false" disabled="disabled" checked>
                        <%else%>
                          <input id="false" type="checkbox" value="1" name="false" disabled="disabled">
                        <%end%>
                        <span class="tasks-list-mark"></span>
                        <!--<span class="tasks-list-desc">Left Label</span>-->
                        </label>
                        </p>
                        <p>
                        <a href="#" class="booking-btn">Confirm drop-off</a>
                        </p>

                        </div>
                        
                        <div class="booking-col1">
                        <span>Pick-up date</span>  : <%= booking.pickup_date.strftime("%B %m,%Y") %>
                        <p>

                        <span>Booked pick-up</span>
                        <label class="tasks-list-item">
                        <% if booking.pickup_price != 0 %>
                        
                          <input id="false" type="checkbox" value="1" name="false" disabled="disabled" checked >
                        <%else%>
                          <input id="false" type="checkbox" value="1" name="false" disabled="disabled">
                        <%end%>
                        <span class="tasks-list-mark"></span>
                        <!--<span class="tasks-list-desc">Left Label</span>-->
                        </label>
                        </p>
                        </div>
                        
                  <div class="note"><span>Notes</span> : <%=booking.post.additional_comments rescue nil%>
                        </div>
                        
                        </div>
                        <%end%> 
                        
                        
                     
                        
                        
                        
                    
                    
                </div>
            </div>
        </div>
 
  </div><!-------------------main--------------------------->
</div><!-------------------wrapper--------------------------->
            
             
 
        




</body>
</html>
