

   <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
      function initialize() {
        
        // Create an array of styles.
        var styles = [
          {
            stylers: [
              { hue: "#00b4ff" },
              { saturation: 50 }
            ]
          },{
            featureType: "road",
            elementType: "geometry",
            stylers: [
              { hue: "#28A0E5" },
              { visibility: "simplified" }
            ]
          },{
            featureType: "road",
            elementType: "labels",
            stylers: [
              { visibility: "off" }
            ]
          }
        ];

        // Create a new StyledMapType object, passing it the array of styles,
        // as well as the name to be displayed on the map type control.
        var styledMap = new google.maps.StyledMapType(styles, {name: "Styled Map"});

        var myLatlng = new google.maps.LatLng(<%= @post.latitude %>,<%= @post.longitude %>);
        var mapOptions = {
          zoom: 8,
          center: myLatlng,
          panControl: true,
          zoomControl: true,
          disableDefaultUI: true
        }
        
          var map = new google.maps.Map(document.getElementById('small-map-canvas'), mapOptions);

          var marker = new google.maps.Marker({
              position: myLatlng,
              map: map,
              icon: "/assets/marker.png"
              
          });

          //Associate the styled map with the MapTypeId and set it to display.
          map.mapTypes.set('map_style', styledMap);
          map.setMapTypeId('map_style');

      }



      google.maps.event.addDomListener(window, 'load', initialize);

      jQuery(document).ready(function(){
        $("#ref_comment").load('<%= books_comments_path(:post_id => @post.id) %>');
      });//]]>  

      </script>

      <%= stylesheet_link_tag 'bookreviews.css','font-awesome.css', "facebox.css" %>
      <%= javascript_include_tag "jquery-1.7.0.min","jquery.validate.min","validation", "facebox.js" %>



        <div class="main-new">
            <ul class="verticle-menu">
             <li><%= link_to "Personal Information", edit_user_path(current_user) %></li>
              <li><%= link_to "Change Password", edit_user_registration_path %></li>
              <li><%= link_to "Bank Details",bank_details_path %></li>
              <li><%= link_to "My Post",posts_path%></li>
              <li><%= link_to "My Order/Received",order_receives_path%></li>
              <li class="active"><%= link_to "My Booking", bookings_path%></li>
              <li><%= link_to "Payment", payments_path%></li>
              <li><%= link_to "Message", {:controller => '/messages',:action => 'is_read_all', :id =>@post.user_id,:method => :post} rescue nil %></li>
            </ul>
            
            <div class="right-side">
              
                    <div class="blue-bg">

                      <div class="blue-bg-div1">
                            <span><%= @post.user_name.capitalize rescue nil%> <%= @post.user_last_name[0,1] rescue nil %>.</span> 
                            <% if current_user.provider.present? &&  @post.user_provider.present? && @post.user_id != current_user.id %>(<%= mutual_friend_list(@post.user.id) rescue nil%> mutual friends)<% end %>
                            <p>
                            <%= link_to "Message ", compose_message_messages_path(:user_id => @post.user_id,:post_id => @post.id ), :remote=>true, :class=>"g-round-btn" %> 

                            <%= link_to "Rate ", rating_bookings_path(:user_id => @post.user_id,:post_id => @post.id ), :remote=>true, :class=>"g-round-btn" %> 
                             
                            </p>
                            <p>
                              <%= @post.additional_comments %>
                            </p>
                            
                                <div class="address">
                                <%= @post.address %> <%= @post.street_add %> <%= @post.apt%> <%= @post.city%> <%= @post.state%> <%= @post.zip_code%>
                                </div>
                          </div>
                          
                          <div class="blue-bg-div2">
                          <ul>
                          <li><div>Date of booking</div> <span><%= @booking.created_at.strftime("%B %d,%Y") %></span></li>
                          <li><div>Booked area</div> <span><%= @booking.area %><p>Sq. Feet</p></span></li>
                          <li><div>Drop-off</div> 
                              <span><%= @booking.dropoff_date.strftime("%B %d,%Y") %></br>
                                Drive : <% if @booking.dropoff_price != 0 %> $<%= @booking.dropoff_price %> <% else %> Unavailable <% end %>
                              </span>
                            </li>
                          <li><div>Pick-up</div> 
                            <span><%= @booking.pickup_date.strftime("%B %d,%Y") %></br>
                            Drive :  <% if @booking.pickup_price != 0 %> $<%= @booking.pickup_price %> <% else %> Unavailable <% end %>
                            </span>
                          </li>
                          <li><div>Total Amount</div> <span>$<%= @booking.price %></span></li>
                          <li><div>Status</div> 

                            <% if @booking.is_cancel == true %>
                              <span>Cancelled</span>
                            <% elsif @booking.is_confirm == true %>
                              <span>Confirmed booking</span>
                            <% else %>
                              <span>Waiting for drop-off confirmation</span>
                            <% end %>

                          </li>
                          <%unless current_user.admin?%>
                          <% if @booking.dropoff_date + 1 >= Date.today %>
                            <%= link_to "Confirm drop-off ", drop_off_bookings_path(:booking_id => @booking.id ), :remote=>true, :class=>"cdo" %> 
                          <% end %>
                          
                          </ul>
                          <% if @booking.dropoff_date >= Date.today %>
                            <%= link_to "Cancel Booking", cancel_popup_bookings_path(:drop_off_date =>@booking.dropoff_date,:id =>@booking.id), :class=>"cb", :remote=> true %>
                          <% end %>
                          <%end%>

                          </div>
                    </div> 
                    
                    <div class="mapdiv">
                    <div>

                      <div id="small-map-canvas"></div>
                    </div>
                    
                    <div class="review-div">
                    
                    <span>Reviews</span>
                    
                    
                    <div class="star" style="font-size: 14px;">
                        <%= "(" + pluralize(@post.comments.count.to_s, "")+")" %>
                        <% num_stars(@post.overall_rating)[:full].times do %>
                          <i class="fa fa-star"></i>
                        <% end %>
                        <% num_stars(@post.overall_rating)[:half].times do %>
                          <i class="fa fa-star-half-o"></i>
                        <% end %>
                        <% num_stars(@post.overall_rating)[:empty].times do %>
                          <i class="fa fa-star-o"></i>
                        <% end %>
                    </div>
                    
                   <div style="width:230px">
                     <div class="booking_content">
                      <div id="ref_comment" > </div>
                     </div>
                   </div>
                    
                    
                    
                    
                    </div>
                    
                    </div>
           </div>
        </div>


    <%= stylesheet_link_tag  'scroll', "jquery.mCustomScrollbar" %>
    <%= javascript_include_tag "bootstrap.min", "jquery.mCustomScrollbar.concat.min" %>
  
  <script>
    (function($){
      $(window).load(function(){


        
        /* all available option parameters with their default values */
        $(".booking_content").mCustomScrollbar({
          setWidth:false,
          setHeight:false,
          setTop:0,
          setLeft:0,
          axis:"y",
          scrollbarPosition:"inside",
          scrollInertia:950,
          autoDraggerLength:true,
          autoHideScrollbar:false,
          autoExpandScrollbar:false,
          alwaysShowScrollbar:0,
          snapAmount:null,
          snapOffset:0,
          mouseWheel:{
            enable:true,
            scrollAmount:"auto",
            axis:"y",
            preventDefault:false,
            deltaFactor:"auto",
            normalizeDelta:false,
            invert:false,
            disableOver:["select","option","keygen","datalist","textarea"]
          },
          scrollButtons:{
            enable:false,
            scrollType:"stepless",
            scrollAmount:"auto"
          },
          keyboard:{
            enable:true,
            scrollType:"stepless",
            scrollAmount:"auto"
          },
          contentTouchScroll:25,
          advanced:{
            autoExpandHorizontalScroll:false,
            autoScrollOnFocus:"input,textarea,select,button,datalist,keygen,a[tabindex],area,object,[contenteditable='true']",
            updateOnContentResize:true,
            updateOnImageLoad:true,
            updateOnSelectorChange:false,
            releaseDraggableSelectors:false
          },
          theme:"light",
          callbacks:{
            onInit:false,
            onScrollStart:false,
            onScroll:false,
            onTotalScroll:false,
            onTotalScrollBack:false,
            whileScrolling:false,
            onTotalScrollOffset:0,
            onTotalScrollBackOffset:0,
            alwaysTriggerOffsets:true,
            onOverflowY:false,
            onOverflowX:false,
            onOverflowYNone:false,
            onOverflowXNone:false
          },
          live:false,
          liveSelector:null
        });
        
      });
    })(jQuery);



  </script>
