<%= javascript_include_tag "jquery-1.4.2.min","jquery.validate.min","validation" %>

<%= form_for @user, :url => user_path(@user), html: { method: :put, id: "edit_user" } do |f|%>
  <div><%= f.label :email %>
    <%= f.email_field :email, :readonly => true %></div>

  <div><%= f.label :name, "First Name" %>
    <%= f.text_field :name %> </div>
 
  <div><%= f.label :last_name %>
    <%= f.text_field :last_name %> </div>

  <div><%= f.label :personal_email %>
    <%= f.text_field :personal_email %> </div>

  <div> <%= f.label :mobile_number %>
    <%= f.text_field :mobile_number, placeholder:"xxx xxx-xxxx" %> </div>
  
  <div><%= f.submit "Update", :class=>"btn btn-primary" %></div>
<% end %>
