<div class="boxpop-up-login">

    <div class="heading-login mrleft75" >Change password</div>

    <div class="mrtop50"></div>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <div class="mrtop16" id="successForgotMsg"><%= devise_error_messages! %></div>

  	<%= f.hidden_field :reset_password_token %>

    <div class="login-popup">
    	<%= f.password_field :password, autofocus: true, :placeholder=>"New password" %>
    </div>

    <div class="password-new-up">
      <%= f.password_field :password_confirmation, autofocus: true, :placeholder=>"Confirm new password" %>
    </div>
    <div style="text-align:center">
      <%= f.submit "Change", :class=>"loginnew-btn" %>
    </div>
    <% end %>

</div>

