
<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dinobo Invoice</title>
    <%= wicked_pdf_stylesheet_link_tag "pdf_invoice.css" %>
  </head>
  <body>
    <header class="clearfix">
      <div id="logo">
         <%= wicked_pdf_image_tag "logo.png" %>
      </div>
      <h1>Invoice</h1>
      <div id="company" class="clearfix">
        <div>www.dinobo.com</div>
        <div><a href="mailto:support@dinobo.com">support@dinobo.com</a></div>
      </div>
      <div id="project">
        <div><span>CLIENT</span> <%= @booking.user_name %> <%= @booking.user_last_name %></div>
        <div><span>EMAIL</span> <a href="mailto:<%= @booking.user_email %>"><%= @booking.user_email %></a></div>
        <div><span>DATE</span> <%= Date.today %></div>
        <div><span>PAYMENT</span> Paid</div>
      </div>
    </header>
    <main>
      <table>
        <thead>
          <tr>
            <th class="service">SERVICE</th>
            <th class="desc"></th>
            <th>PRICE</th>
            <th>QTY</th>
            <th>TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="service">Space rental from <%= @booking.dropoff_date.strftime("%B %d,%Y") %> to <%= @booking.pickup_date.strftime("%B %d,%Y") %></td>
            <td class="desc"></td>
            <td class="unit">$<%= @booking.post_price_sq_ft %></td>
            <td class="qty"><%= @booking.area %> sq. ft.</td>
            <td class="total">$<%= (@booking.post_price_sq_ft * @booking.area.to_i) %></td>
          </tr>
          <% if @booking.dropoff_price != 0 %>
          <tr>
            <td class="service">Drop off ride for <%= @booking.dropoff_date.strftime("%B %d,%Y") %></td>
            <td class="desc"></td>
            <td class="unit">$<%= @booking.dropoff_price %></td>
            <td class="qty">1</td>
            <td class="total">$<%= @booking.dropoff_price %></td>
          </tr>
          <% end %>
          <% if @booking.pickup_price != 0 %>
          <tr>
            <td class="service">Pick up ride for <%= @booking.pickup_date.strftime("%B %d,%Y") %></td>
            <td class="desc"></td>
            <td class="unit">$<%= @booking.pickup_price %></td>
            <td class="qty">1</td>
            <td class="total">$<%= @booking.pickup_price %></td>
          </tr>
          <% end %>
          <tr>
            <td colspan="4" class="grand total">TOTAL</td>
            <td class="grand total">$<%= @booking.price %></td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
