<div class="main-new">
    <ul class="verticle-menu">
    <li><%= link_to "Personal Information", edit_user_path(current_user) %></li>
    <li><%= link_to "Change Password", edit_user_registration_path %></li>
    <li class="active"><%= link_to "Bank Details", bank_detail_path %></li>
    <li><%= link_to "My Post",posts_path%></li>
    <li><%= link_to "My Order/Received",order_receives_path%></li>
    <li><%= link_to "My Booking", bookings_path%></li>
    <li><%= link_to "Payment", payments_path%></li>
    <li><%= link_to "Message", {:controller => '/messages',:action => 'is_read_all', :id =>current_user.id,:method => :post} rescue nil %></li>
    </ul>

    <div class="right-side">

        <div class="payment-wrap">

        <%= link_to "Bank Details", bank_detail_path %> | <%= link_to "Credit Card Details", credit_cards_path %><br/>

        <%unless @bank_detail.present?%>
          <div class="new-add-post"><%= link_to '+Add Bank Details', new_bank_detail_path %> </div>
        <%end%>

            <div class="order-box">
                <div class="pay-col pay-col1">

                </div>

                <div class="pay-col pay-col1">
                  <span>Full name</span>: <%= @bank_detail.full_name %>
                </div>

                <div class="pay-col pay-col1">
                  <span>Card number</span>: ******<%= @bank_detail.card_number[-4..-1] %>
                </div>

                <div class="pay-col pay-col1">
                    <%if @bank_detail.present?%>
                      <%= link_to 'Destroy', bank_detail_path, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <%else%>
                      <%= link_to 'New Bank detail', new_bank_detail_path %>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>
