
  <script type="text/javascript">

    jQuery(function($){
      $("#start_date").datepicker({dateFormat: 'yy-mm-dd',changeMonth: false,changeYear: false,showOn: 'button', buttonImage: 'http://jqueryui.com/resources/demos/datepicker/images/calendar.gif', buttonImageOnly: true})

    });
    jQuery(function($){
      $("#end_date").datepicker({dateFormat: 'yy-mm-dd',changeMonth: false,changeYear: false, showOn: 'button', buttonImage: 'http://jqueryui.com/resources/demos/datepicker/images/calendar.gif', buttonImageOnly: true})
    });


  </script>
  <%= javascript_include_tag "jquery-1.4.2.min","jquery.validate.min","admin_validation" %>
<h4>Search by</h4>
  <%= form_tag search_post_path,:method=> :get, :id=>"admin_posts" do %>
  <%= hidden_field_tag :q, params[:q] %>
From Date :
<%= text_field_tag :start_date, params[:start_date] %>

To Date :
<%= text_field_tag :end_date, params[:end_date]%>&nbsp;

  <%= submit_tag "Search", :class => "btn btn-primary contact-form"  %>
  <%end%>
  <div  style="text-align:right;margin-left:10px;margin-bottom: -42px;">
  <a href="<%= home_all_postings_path(params.merge(format: "xls")) %>" class="btn btn-secondary"><img src="/assets/excel.png" alt=""> Excel</a>
            <a href="<%= home_all_postings_path(params.merge(format: "pdf"))  %>" class="btn btn-secondary" target="_blank"><i class="icon"><img src="/assets/pdf.png" alt=""></i> PDF</a><br><br>
     </div>
<h4>Listing All Post</h4>
<table cellpadding="1"  class="table table-striped ">
    <tr>
      <th>Sr No.</th>
      <th>Post ID</th>
      <th>Poster Name</th>
      <th>Date</th>
      <th>Status</th>
      <th>Price per sq. ft.</th>
      <th>Total area</th>
      <th>Area booked</th>
      <th>Address</th>
      <th>Deactivate</th>
    </tr>

    <% @posts.each_with_index do |post, index| %>

        <tr>
        <% if params[:page].nil? || params[:page] == "0" || params[:page] == "1" %>
          <% x = 0 %>
          <% else %>
          <% page = params[:page].to_i - 1 %>
          <% x = page * 10 %>
        <% end %>
        <td><%= index + x+1 %></td>
        <td><%= post.id %></td>
        <td><%= post.user_name rescue nil%>&nbsp;<%= post.user_last_name rescue nil%></td>
        <td><%= post.created_at.strftime("%d-%m-%Y") rescue nil%></td>
        <td><% if post.status == true %> Active <% else %> Deactive <% end %></td>
        <td><%= post.price_sq_ft rescue nil%></td>
        <td><%= post.area rescue nil%></td>
        <td><%= post.bookings.pluck(:area).map(&:to_i).inject{|sum,i| sum + i} rescue nil%></td>
        <td><%= post.street_add rescue nil%> <%= post.apt rescue nil%> <%= post.city rescue nil%> <%= post.state rescue nil%> <%= post.zip_code rescue nil%></td>
        <td><% if post.status == true %>
          <%= link_to 'Deactive', toggled_feature_post_path(post.id)%>
         <% else %>
          <%= link_to 'Activate', toggled_feature_post_path(post.id)%>
         <% end %>
        </td>

      </tr>
    <% end %>
</table>

<%= will_paginate @posts %>
