
<h4>Listing All Post</h4>
<table class="table table-striped">

  <thead>
    <tr>
      <th>Sr No.</th>
      <th>Post ID</th>
       <th>Posted By</th>
       <th>Price</th>
      <th>Post Date</th>
      <th>Area (Sq ft)</th>
      <th>Price (Sq ft)</th>
      <th>Address</th>
      <th>Status</th>
      <th>Action</th>
       
    </tr>
  </thead>

  <tbody id="all_posts" >

   
    <% @posts.each_with_index do |post, index| %>
    
        <tr>
        <% if params[:page].nil? || params[:page] == "0" || params[:page] == "1" %>
          <% x = 0 %>
          <% else %>
          <% page = params[:page].to_i - 1 %>
          <% x = page * 10 %>
        <% end %>
        <td><%= index +x+1 %></td>
        <td><%= post.id %></td>
        <td><%= User.find(post.user_id).name rescue nil%>&nbsp;<%= User.find(post.user_id).last_name rescue nil%></td>
        <td><%= post.price_sq_ft %></td>
        <td><%= post.created_at.strftime("%d-%m-%Y") %></td> 
        <td><%= post.area %></td>
        <td>$<%= post.price_sq_ft %></td>
        <td><%= post.address %></td>
        <td><% if post.status == true %> Active <% else %> Deactive <% end %></td>
         <% if post.featured == true %>
        <td> <%= link_to 'Deactive', toggled_feature_post_path(post.id)%></td>
         <% else %>
         <td><%= link_to 'Activate', toggled_feature_post_path(post.id)%></td>
         <% end %>
 
      </tr>
    <% end %>

    

  </tbody>
</table> 

<%= will_paginate @posts %>



