<table cellpadding="10" cellspacing="0" border="1" class="table table-striped table-bordered">

  <thead>
    <tr>
      <th>Sr No.</th>
      <th>Post ID</th>
      <th>Poster Name</th>
      <th>Date post was created</th>
      <th>Status</th>
      <th>Price per sq. ft</th>
      <th>Total area</th>
      <th>Area booked</th>
      <th>Address</th>
      <th>Drop Off start Date</th>
      <th>Drop Off end Date</th>
      <th>Pick up start Date</th>
      <th>Pick up end Date</th>
      <th>Drop off ride available</th>
      <th>Drop off Price</th>
      <th>Pick up ride available</th>
      <th>Pick up price</th>
      <th>Photo uploaded</th>
    </tr>
  </thead>

  <tbody id="all_posts" >

    <% @posts.each_with_index do |post, index| %>

        <tr>
        <% if params[:page].nil? || params[:page] == "0" || params[:page] == "1" %>
          <% x = 0 %>
          <% else %>
          <% page = params[:page].to_i - 1 %>
          <% x = page * 10 %>
        <% end %>
        <td><%= index + x+1 %></td>
        <td><%= post.id %></td>
        <td><%= post.user_name rescue nil%>&nbsp;<%= post.user_last_name rescue nil%></td>
        <td><%= post.created_at.strftime("%d-%m-%Y") rescue nil%></td>
        <td><% if post.status == true %> Active <% else %> Deactive <% end %></td>
        <td><%= post.price_sq_ft rescue nil%></td>
        <td><%= post.area rescue nil%></td>
        <td><%= post.bookings.pluck(:area).map(&:to_i).inject{|sum,i| sum + i} rescue nil%></td>
        <td><%= post.street_add rescue nil%> <%= post.apt rescue nil%> <%= post.city rescue nil%> <%= post.state rescue nil%> <%= post.zip_code rescue nil%></td>
        <td><%= post.drop_off_avaibility_start_date.strftime("%d-%m-%Y") rescue nil%></td>
        <td><%= post.drop_off_avaibility_end_date.strftime("%d-%m-%Y") rescue nil%></td>
        <td><%= post.pick_up_avaibilty_start_date.strftime("%d-%m-%Y") rescue nil%></td>
        <td><%= post.pick_up_avaibility_end_date.strftime("%d-%m-%Y") rescue nil%></td>

        <td><%  if post.drop_off? %> YES <%else%> NO <%end%></td>
        <%if post.price_include_drop_off.blank?%>
        <td>-</td>
         <%else%>
        <td> <%= post.price_include_drop_off %></td>
         <%end%>

        <td><% if post.pick_up? %> YES <%else%> NO <%end%></td></td>
        <%if post.price_include_pick_up.blank?%>
        <td>-</td>
        <%else%>
        <td><%= post.price_include_pick_up %></td>
        <%end%>
        <td><% if post.photo_file_name? %> <%= post.photo_file_name%> <%else%> NA <%end%></td>
      </tr>
    <% end %>

  </tbody>
</table> 