 <%= javascript_include_tag "jquery-1.4.2.min","jquery.validate.min","validation" %>
<%= form_for :contactus, :url=>{:controller=>'contactus',:action=>'create'},:html => {:id => "contactus"} do |f| %>
<div>
  <div class="field">
                <%= f.collection_select :subject, Contactus.where("message IS NULL"), :subject, :subject, {prompt: "Subject"}, :class=>"alignleft" %></br> </br>
               
              <%#= f.text_field :initiative_category,:placeholder=>"Initiative Category" %>
              </div>

<div>
<%= f.label :Message %><br />	
<%= f.text_area :message,:cols => "30", :rows => "5"%>
</div></br>
<%= f.submit "submit", :class => "btn btn-primary contact-form"%>
<% end %>