
<% if signed_in? && current_user.admin? %>

  <%= form_tag home_customer_daily_report_path,:method=> :get do %>
  <%= text_field_tag :q, nil %>
  <select  onchange="location = this.options[this.selectedIndex].value;">
    <option value="<%= root_path %>">All</option>
    <option value="<%= home_customer_monthly_report_path %>">Month</option>
    <option value="<%= home_customer_weekly_report_path %>" > Weekly</option>
    <option value="<%= home_customer_daily_report_path%>"selected="selected">Daily</option>
  </select>
  <%= submit_tag "Search", :class => "btn btn-primary contact-form"%> 
     
  <%end%>
            <div  style="text-align:right;margin-left:10px;">
          <a href="<%=  home_customer_daily_report_path(params.merge(format: "xls")) %>" class="btn btn-secondary"><img src="/assets/excel.png" alt=""> Excel</a> 
          <a href="<%= home_customer_daily_report_path(params.merge(format: "pdf"))  %>" class="btn btn-secondary" target="_blank"><i class="icon"><img src="/assets/pdf.png" alt=""></i> PDF</a><br><br>
          </div>

  <table class="table table-bordered">

	 <tr>
	 <th>Email </th>
	 <th>View Details</th>
	 <th>Delete</th>
	 <th>Activate/Deactivate</th>
	 </tr>
	<% @adminusers.each do |adminuser|%>
	<tr>
	 <td><%= adminuser.email %>
	 <td><%= link_to "View Details",{:controller => 'users', :action => 'show', :id => adminuser.id}%></td>
	 <td><%= link_to "Destroy",{:controller => 'users', :action => 'destroy', :id => adminuser.id}%></td>
	 <td><%= link_to format_boolean(adminuser.status?), {:controller => 'users', :action => 'toggled_status', :id => adminuser.id} %></td>
	 </tr>
	<%end%>	

	</table>

<% else %>
<h1>Home Page</h1>

<%end%>

 