

<% if signed_in? && current_user.admin? %>

  <table class="table table-bordered">

	 <tr>
	 <th>Email </th>
	 <th>View Details</th>
	 <th>Delete</th>
	 <th>Activate/Deactivate</th>
	 </tr>
	<% @adminusers.each do |adminuser|%>
	<tr>
	 <td><%= adminuser.email %>
	 <td><%= link_to "View Details",{:controller => 'users', :action => 'show', :id => adminuser.id}%></td>
	 <td><%= link_to "Destroy",{:controller => 'users', :action => 'destroy', :id => adminuser.id}%></td>
	 <td><%= link_to format_boolean(adminuser.status?), {:controller => 'users', :action => 'toggled_status', :id => adminuser.id} %></td>
	 </tr>
	<%end%>	

	</table>
<%= %>
<% else %>
<h1>Home Page</h1>

<%end%>

 