<%= javascript_include_tag "jquery.fancybox.pack.js" %>
<%= stylesheet_link_tag "jquery.fancybox.css"%>

<% if signed_in? && current_user.admin? %>
 <h4>Search by</h4>
  <%= form_tag search_path,:method=> :get do %>
  <%= text_field_tag :q, nil %>
      <!-- <div class="span5"> -->
                     <!-- <section id="buttons"> -->
                       
                          <select  onchange="location = this.options[this.selectedIndex].value;">
                            <option value="<%= root_path %>">All</option>
                            <option value="<%= home_customer_monthly_report_path %>">Month</option>
                            <option value="<%= home_customer_weekly_report_path %>"> 
                            Weekly
                            </option>
                            <option value="<%= home_customer_daily_report_path%>">Daily
                            </option>
                     
                          </select>
                     <!-- </section> -->
                 <!-- </div> -->
  <%= submit_tag "Search", :class => "btn btn-primary contact-form"%> 
  <%end%>
  <div>
  <%= link_to "Add new User",new_user_users_path%> 
  </div> <br>   
  <table class="table table-bordered">

	 <tr>
	 <th>Email </th>
	 <th>View Details</th>
	 <th>Delete</th>
	 <th>Activate/Deactivate</th>
	 </tr>
	<% @adminusers.each do |adminuser|%>
	<tr>
	 <td><%= adminuser.email %>
	 <td><%= link_to "View Details",{:controller => 'users', :action => 'show', :id => adminuser.id}%></td>
	 <td><%= link_to "Destroy",{:controller => 'users', :action => 'destroy', :id => adminuser.id}%></td>
	 <td><%= link_to format_boolean(adminuser.status?), {:controller => 'users', :action => 'toggled_status', :id => adminuser.id} %></td>
	 </tr>
	<%end%>	

	</table>
  <%elsif signed_in? %>

<script type="text/javascript">
jQuery(document).ready(function() {
<% if request.remote_ip %>
<% else %>
jQuery("#various1").fancybox().trigger('click');
<%end%>
});
</script>


<a id="various1" href="#inline3" title="" ></a>
<div style="display: none">
<div id="inline3" style="width:400px; height:auto ; overflow:auto; text-align:left">
<div>
Please Select Your State and City
<%#=form_for @user do |f|%>
<table width="100%" border="0" cellspacing="10" cellpadding="0">
<tr>
<td align="right" valign="top">State :</td>
<td align="left" valign="top">
<%#= f.email_field :email%>
</td>
</tr>

<tr>
<td align="right" valign="top"><label>
<%#= f.submit "Update" ,:class => "details" %>
</label></td>
</tr>
</table>
<%# end %>
</div>
</div>
</div>
<%= will_paginate @adminusers %>

<% else %>


<h1>Home Page</h1>

<%end%>

 

<%= will_paginate @adminusers %>

