 		<script>
function validateForm() {
	var err = 0;

	var userinput = $('#email').val();

	<% @access_ids = AccessId.all %>
	
	<% @access_ids.each_with_index do |access_id, index| %>
	var domain<%= index %> = '<%= access_id.email %>';
	<% end %>
	

	var pattern = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i

	if($('#email').val() == ''){
		        $('#email').parent().parent().find('.form-error').html("Please enter email address.");
		        err++;
		    }

	<% @access_ids.each_with_index do |access_id, index| %>
		<% if index == 0 %>
			

		    if(userinput.split('@').pop() == domain<%= index %>)
		    {

				if(!pattern.test(userinput) || userinput.split('@').pop() != domain<%= index %>)
				{
				 	$('#email').parent().parent().find('.form-error').html("Please enter valid email address.");
			        err++;
				}
			}
		<% else %>

		    else if(userinput.split('@').pop() == domain<%= index %>)
		    {

				if(!pattern.test(userinput) || userinput.split('@').pop() != domain<%= index %>)
				{
				 	$('#email').parent().parent().find('.form-error').html("Please enter valid email address.");
			        err++;
				}
			}
		<% end %>
	<% end %>
	else 
	{ 
		$('#email').parent().parent().find('.form-error').html("Please enter valid email address.");
	    err++;
	}

	if(err == 0){
            
             return true;      
    }else{
            
            return false;
    }

}
</script>

<%= javascript_include_tag "jquery-1.4.2.min","jquery.validate.min","validation" %>

 		<div id="image">
  
                  <img src="/assets/bg_1.jpg">
                  <div class="sign"></div>
                    <p class="hd1"><strong data-typer-targets="Find,Rent out your"></strong>&nbspspace for summer storage.</p>
                                
                   <div class="hd2" >Find summer storage provided by other USC students, <br>
                             or rent out some space to store other students' goods over the summer.<br>
                  </div>
                  	<div class="input-group">
                  		<%= form_tag url_for(:controller => 'authenticates', :action => 'create'), :method => 'post', :id=>"userSignup", :onsubmit => "return validateForm()" do |f| %>
                         <%= text_field_tag :email, nil, :class=>"sign_up_id", :placeholder=>"@usd.edu email address" %>
                         <span class="input-group-btn">
                             <%= submit_tag "Sign Up", :class=>"btn_signup", :style=>"margin:-78px 0px 0px 601px;" %>
                             <div class="form-error"></div>
                             <p class="usc"><p style="color:#d3d4d5; margin:-14px 0 0 414px;font-family:brandon5; font-size:14px;" >Currently open to USC students only.</p></p>
                        </span>
                        <% end %>
                    </div>
              </div>    
                  
                  
                     
               
               
                  
                      
                  <div class="clear"></div> 
                 <div class="learn_more"> <a href="#work"><p style="margin:-40px 0 60px 480px; color:#dbdddf;">Learn more</p></a>.
                 
                     <a href="#myAnchor"> <img src="/assets/down_arrow1.png"></a> </div> 
                      
                     
                <div id="work">
                <a name="myAnchor" id="myAnchor"><strong></strong></a>
                <a name="work"> </a>
                    <p>How it works</p>
                    <div class="btn">
                 <a href="javascript:void(0);" class="new_btn1  " id="bt1">  Find a place </a>
                  <a href="javascript:void(0);"class=" new_btn2 select2" id="bt2"> List your place </a>
                  
                    </div>
                    
                
                </div> 
    
    

       
        
   

    <div class="boxs">
     
    
     <div id="one">

    	<ul class="cbp-ig-grid"  style="border:none; width:1035px;">
					<li>
						<a href="#">
							<span class="cbp-ig-icon"></span>
							<h3 class="cbp-ig-title">Browse listings</h3>
                          <span class="cbp-ig-category"><p>we hold your money until you've successfully <br>dropped off your goods..</p>
                         </span>  
                        <br> <br>
                            <img src="/assets/brows_list.png" style="margin-top:-10px;">
							
						</a>
					</li>
					<li>
						<a href="#">
							<span class="cbp-ig-icon "></span>
							<h3 class="cbp-ig-title">Book and pay</h3>
                            <span class="cbp-ig-category">we hold your money until you've successfully <br>dropped off your goods.</p>
                            </span>
                               <br> <br>
                            <img src="/assets/book-and-pay.png">
							
						</a>
					</li>
					<li>
						<a href="#">
							<span class="cbp-ig-icon"></span>
							<h3 class="cbp-ig-title">Store your goods</h3>
                            <span class="cbp-ig-category">we hold your money until you've successfully <br>dropped off your goods.</p>
                            </span>
                               <br> <br>
                            <img src="/assets/store_good.png">
							
						</a>
					</li>
					
				</ul> 
           </div>
           <div id="two" style="display:none"><div id="two">

    	<ul class="cbp-ig-grid" style="border:none; width:1035px;">
					<li>
						<a href="#">
							<span class="cbp-ig-icon"></span>
							<h3 class="cbp-ig-title">Describe your place</h3>
                          <span class="cbp-ig-category"><p>we hold your money until you've successfully <br>dropped off your goods.</p>
                          </span>  
                        <br> <br>
                            <img src="/assets/Describe.png" style="margin-top:36px;">
							
						</a>
					</li>
					<li>
						<a href="#">
							<span class="cbp-ig-icon "></span>
							<h3 class="cbp-ig-title">Receive bookings and<br>
                                                     accept the goods</h3>
                            <span class="cbp-ig-category"><p>we hold your money until you've successfully <br>dropped off your goods.
                         </p></span>
                               <br> <br>
                            <img src="/assets/Receive.png">
							
						</a>
					</li>
					<li>
						<a href="#">
							<span class="cbp-ig-icon"></span>
							<h3 class="cbp-ig-title">Get paid</h3>
                            <span class="cbp-ig-category"><p>we hold your money until you've successfully <br>dropped off your goods.
                          </p></span>
                               <br> <br>
                            <img src="/assets/Get-paid.png" style="margin-top:35px;">
							
						</a>
					</li>
					
				</ul> 
           </div>
           
           </div>
     </div>
     
     <div class="dinobo">  
  
     <p style="margin:80px 0 30px 380px;">Why use <strong> dinobo</strong> ? </p></div>
     <div class="grid_line" style="margin-left:35px;">
     <ul class="new">
					<li class="title">
						
							<img src="/assets/Inexpensive.png">
							<h3>Inexpensive</h3>
							<p class="title1">Cheaper than alternatives as prices <br>are set by other students</p>
						
					</li>
					<li class="title">
						
							<img src="/assets/cl.png">
							<h3>Convenient locations</h3>
							<p class="title1">Find a place very close to your<br> current/future residence</p>
						
					</li>
					<li class="title">
						
							<img src="/assets/safe.png">
							<h3>Safe</h3>
							<p class="title1">Currently open to <br>
                               USC students only</p>
						
					</li>
					<li class="title">
						
							<img src="/assets/lock.png">
							<h3>Secure online payment</h3>
							<p class="title1">No cash needed. When you book <br>online, we hold your funds until <br>you are satisfied with the place and<br> drop your stuff off.</p>
						
					</li>
					<li class="title">
						
						<img src="/assets/round.png">
							<h3>Flexible refund policy</h3>
							<p class="title1">Allows you to make cancellations<br> after booking at a low cost</p>
						
					</li>
					<li class="title">
						
						<img src="/assets/sign.png">
							<h3>Simple pricing</h3>
							<p class="title1">All places are priced in terms of<br> area (price per square foot)</p>
					
					</li>
				</ul>
     </div>
     <div class="btn_more">
               <a href="javascript:void(0)">  Learn more </a>
               </div>