<script type="text/javascript">
    jQuery(function($){
      $("#start_date").datepicker({dateFormat: 'yy-mm-dd',changeMonth: false,changeYear: false,showOn: 'button', buttonImage: 'http://jqueryui.com/resources/demos/datepicker/images/calendar.gif', buttonImageOnly: true}) });
    jQuery(function($){
      $("#end_date").datepicker({dateFormat: 'yy-mm-dd',changeMonth: false,changeYear: false, showOn: 'button', buttonImage: 'http://jqueryui.com/resources/demos/datepicker/images/calendar.gif', buttonImageOnly: true}) });
  </script>

<% if (@posts.blank?)%>

"No Results Found!!"
<%else%>

<%if @start_date > @end_date %>

<%= render "home/search_date"%>

  <%elsif @start_date.blank? || @end_date.blank?%>

 <%= render "home/search_date"%>

  <%else%>

  <%= render "home/search_date"%>
      <div  style="text-align:right;margin-left:10px;margin-bottom: -42px;">
            <a href="<%= search_post_path(params.merge(format: "xls")) %>" class="btn btn-secondary"><img src="/assets/excel.png" alt=""> Excel</a> 
            <a href="<%= search_post_path(params.merge(format: "pdf"))  %>" class="btn btn-secondary" target="_blank"><i class="icon"><img src="/assets/pdf.png" alt=""></i> PDF</a><br><br>
     </div>
<h4>Listing All Post</h4>
<table cellpadding="1"  class="table table-striped">

  <thead>
    <tr>
      <th>Sr No.</th>
      <th>Post ID</th>
       <th>Poster Name</th>
       <th>Date</th>
      <th>Status</th>
      <th></th>
      <th>Drop Off Date</th>
      <th>Pick up Date</th>
      <th>Drop off Price</th>
      <th>Pick up price</th>
      <th>Archived</th>
      <th>Ratings</th>
    </tr>
  </thead>

  <tbody id="all_posts" >

    <% @posts.each_with_index do |post, index| %>
    
        <tr>
        <% if params[:page].nil? || params[:page] == "0" || params[:page] == "1" %>
          <% x = 0 %>
          <% else %>
          <% page = params[:page].to_i - 1 %>
          <% x = page * 10 %>
        <% end %>
        <td><%= index + x+1 %></td>
        <td><%= post.id %></td>
        <td><%= User.find(post.user_id).name rescue nil%>&nbsp;<%= User.find(post.user_id).last_name rescue nil%></td>
        <td><%= post.created_at.strftime("%d-%m-%Y") %></td> 
        <td><% if post.status == true %> Active <% else %> Deactive <% end %></td>
         <% if post.status == true %>
        <td> <%= link_to 'Deactive', toggled_feature_post_path(post.id)%></td>
         <% else %>
         <td><%= link_to 'Activate', toggled_feature_post_path(post.id)%></td>
         <% end %>
        
        <td><%= post.drop_off_avaibility_start_date.strftime("%d-%m-%Y") %> -  <%= post.drop_off_avaibility_end_date.strftime("%d-%m-%Y") %></td>
        <td><%= post.pick_up_avaibilty_start_date.strftime("%d-%m-%Y") %> - <%= post.pick_up_avaibility_end_date.strftime("%d-%m-%Y") %></td>
        <%if post.price_include_drop_off.blank?%>
        <td>-</td>
         <%else%>
        <td> <%= post.price_include_drop_off %></td>
         <%end%>
          <%if post.price_include_pick_up.blank?%>
        <td>-</td>
         <%else%>
        <td><%= post.price_include_pick_up %></td>
          <%end%>
        <td><% if post.archive == true %> Yes <% else %> No <% end %></td>
        <%if post.overall_rating.to_s ==  "NaN"%>
        <td>No Ratings</td>
        <%else%>
      <td><%= post.overall_rating.round(1)%></td>
        <%end%>

      </tr>
    <% end %>

    

  </tbody>
</table> 

<%#= will_paginate @posts %>



<%end%>
  <%end%>

