
<h4>Search by</h4>

  <%= form_tag search_path,:method=> :get do %>
  <%= text_field_tag :q, params[:q] %>

  <%= select_tag(:created, options_for_select(['All', 'Monthly', 'Weekly', 'Daily'], :selected=>params[:created])) %>

  						
  <%= submit_tag "Search", :class => "btn btn-primary contact-form"  %> 
  <%end%>

  	<% unless @adminusers.blank? %>
	  	<div  style="text-align:right;margin-left:10px;">
	          <a href="<%= search_path(params.merge(format: "xls")) %>" class="btn btn-secondary"><img src="/assets/excel.png" alt=""> Excel</a> 
	          <a href="<%= search_path(params.merge(format: "pdf"))  %>" class="btn btn-secondary" target="_blank"><i class="icon"><img src="/assets/pdf.png" alt=""></i> PDF</a><br><br>
	   </div>
  	
 	<%end%>

   
    <div>
		<%= link_to "Add new User",new_user_users_path%> 
	</div> </br>


  <table class="table table-striped">
<tr>
<th>First Name </th>
<th>Last Name </th>
<th>Email ID </th>
<th>A/C Creation Date</th>
<th>Last Login Date</th>
<th>Last Login IP</th>
<th>User Status</th>
</tr>
<% @adminusers.each do |adminuser|%>
<tr>
<td><%= adminuser.name %></td>
<td><%= adminuser.last_name %></td>
<td><%= adminuser.email %></td>
<td><%= adminuser.created_at.to_date rescue nil%></td>
<td><%= adminuser.last_sign_in_at.to_date rescue nil%></td>
<td><%= adminuser.last_sign_in_ip%></td>
<td><%= link_to format_boolean(adminuser.status?), {:controller => 'users', :action => 'toggled_status', :id => adminuser.id} %></td>
</tr>
<%end%> 
</table>


