<script>

	function validateForm() {

	var err = 0;

	var userinput = $('#email').val();

	
	<% @access_ids.each_with_index do |access_id, index| %>
	var domain<%= index %> = '<%= access_id.email %>';
	<% end %>
	

	var pattern = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i

	if($('#email').val() == ''){
		        $('#email').parent().parent().find('.form-error').html("Please enter email address.");
		        err++;
		    }

	<% @access_ids.each_with_index do |access_id, index| %>
		<% if index == 0 %>
			

		    if(userinput.split('@').pop() == domain<%= index %>)
		    {

				if(!pattern.test(userinput) || userinput.split('@').pop() != domain<%= index %>)
				{
				 	$('#email').parent().parent().find('.form-error').html("Please enter valid email address.");
			        err++;
				}
			}
		<% else %>

		    else if(userinput.split('@').pop() == domain<%= index %>)
		    {

				if(!pattern.test(userinput) || userinput.split('@').pop() != domain<%= index %>)
				{
				 	$('#email').parent().parent().find('.form-error').html("Please enter valid email address.");
			        err++;
				}
			}
		<% end %>
	<% end %>
	else 
	{ 
		$('#email').parent().parent().find('.form-error').html("Please enter valid email address.");
	    err++;
	}

	if(err == 0){
            
             return true;      
    }else{
            
            return false;
    }

}
</script>




<div class="boxpop-up-login">

    <div class="heading-login mrleft75" >Enter college ID</div>

    <div class="mrtop50"></div>
    <%= form_tag url_for(:controller => 'omniauth_callbacks', :action => 'create'), :method => 'post', :id=>"checkEmail", :onsubmit => "return validateForm()" do |f| %>

    <div class="login-popup"> 
      <%= text_field_tag :personal_email %>
    </div>
   
        
    <div style="text-align:center">
    	<%= submit_tag "Submit", :class=>"loginnew-btn" %>
      
    </div>
    <% end %>

</div>