<tr>

<td><%= index + 1 %></td>
<td><%= dispute.id %></td>
<td><%= dispute.post_id %></td>
<td><%= dispute.area %></td>
<td><%= dispute.poster_name %> <%= dispute.poster_last_name %> </td>
<td><%= dispute.user_name %> <%= dispute.user_last_name %> </td>
<td><%= dispute.price %></td>
<td><%= dispute.disputes.where("status = ?","refund").first.amount  %></td>
<td><%= dispute.disputes.where("status = ?","refund").first.status %></td>

</tr>