<%= render 'common_links' %>
<%= form_tag search_disputes_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], :placeholder=>"Enter booking ID" %>
    <%= submit_tag "Search", :name => nil, :class=>"btn btn-primary contact-form" %>
  </p>
<% end %>


<table class="table table-striped">
<tr>
<th>Sr No.</th>
<th>Booking ID</th>
<th>Post ID</th>
<th>Booked Area/Sq.Ft</th>
<th>Poster Name</th>
<th>Finder Name</th>
<th>Dispute status</th>
<th>Address</th>
<th>Action</th>
</tr>
<% @bookings.each_with_index do |booking, index|%>
  <%= render 'search_result', :index => index, :booking => booking %>
<%end%> 
</table>
