
    <div class="boxpop-up-login">

    <div class="heading-login">Login</div>
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="login-popup"> 
   		<%= f.email_field :email, autofocus: true, :placeholder=>"College ID" %>
    </div>
    
   	<div class="password-new-up"> 
   		<%= f.password_field :password, autocomplete: "off", :placeholder=>"Password" %>
   	</div>

    <div class="new-checkbox">
    	
    	<label class="tasks-list-item">
			<input class="tasks-list-cb" type="checkbox" checked="checked" name="task_3" >
			<span class="tasks-list-mark"></span>
		</label>
         <p style="margin:-25px 0 0 44px; color:#7b7b7b; text-decoration: underline; font-family: brandon4;"> I agree term & condition</p>
    </div>
        
        
    <div style="text-align:center">
     	<%= f.submit "Login", :class=>"loginnew-btn" %>
    </div>
    <% end %>
   	<div style="text-align:center;"> OR </div>
    <div class="facebook-up-btn">
     	<a href="/users/auth/facebook">Sign up with Facebook</a>

    </div>
     
    

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    	<div class="forgot">
    	<%= link_to "Forgot your password?", new_password_path(resource_name), :remote=> true %>
    	</div>
    <% end -%>

</div>





