<tr>

<td><%= index + 1 %></td>
<td><%= booking.id %></td>
<td><%= booking.created_at.to_date rescue nil%></td>
<td><%= booking.area rescue nil %></td>
<td>$<%= booking.price.to_i rescue nil %></td>
<td><%= booking.poster.name rescue nil%></td>
<td><%= booking.user.name rescue nil %></td>
<td><%= booking.post.address rescue nil%></td>
<td><%= booking.status.camelize rescue nil %>
  
<td>
  <% if booking.is_cancel == true %>
      <span>Cancelled</span>
  <% else %>
  <% unless booking.stripe_transfer_id.present? %>  
  <%= link_to "Money Transfer",transfer_money_payement_transfers_path(:booking_id =>booking.id,:poster_id =>booking.poster_id,:finder_id=>booking.user_id) rescue nil%>
  <% else %>
     -----
  <% end %>
  <% end %>
</td>  
<td>
  <% if booking.status.present? && booking.status == "pending"%>
    <%= link_to "Check Status",check_status_payement_transfers_path(:booking_id =>booking.id) rescue nil%>
  <% else %>
     -----  
  <% end %>
</td>
<td><%= link_to "View Details",{:controller => 'bookings', :action => 'show', :id => booking.id} %></td>
</tr>