
  <script type="text/javascript">

    jQuery(function($){
      $("#start_date").datepicker({dateFormat: 'yy-mm-dd',changeMonth: false,changeYear: false,showOn: 'button', buttonImage: 'http://jqueryui.com/resources/demos/datepicker/images/calendar.gif', buttonImageOnly: true})

    });
    jQuery(function($){
      $("#end_date").datepicker({dateFormat: 'yy-mm-dd',changeMonth: false,changeYear: false, showOn: 'button', buttonImage: 'http://jqueryui.com/resources/demos/datepicker/images/calendar.gif', buttonImageOnly: true})
    });


  </script>
  <%= javascript_include_tag "jquery-1.4.2.min","jquery.validate.min","admin_validation" %>
<h4>Search by</h4>
  <%= form_tag search_payments_path,:method=> :get, :id=>"admin_posts" do %>
  <%= hidden_field_tag :q, params[:q] %>
From Date :
<%= text_field_tag :start_date, params[:start_date] %>

To Date :
<%= text_field_tag :end_date, params[:end_date]%>&nbsp;

  <%= submit_tag "Search", :class => "btn btn-primary contact-form"  %> 
  <%end%>