
<table border="1">
<tr>
  <th>Sr No.</th>
  <th>Amount finder was charged</th>
  <th>Stripe commission for charge</th>
  <th>Actual (net) we received</th>
  <th>Total amount we paid</th>
  <th>Stripe commission for payout</th>
  <th>Net amount user received</th>
   <th>Actual amount we paid</th>
  <th>Stripe's addition/subtraction</th>
  <th>Actual amount user received as refund</th>
  <th>Our final income</th>
  
</tr>

<% @bookings.each_with_index do |booking, index| %>
<tr>
  <td><%= index + 1 %></td>
  <td><%= booking.price.present? ? booking.price.round(3) : ' --' rescue nil  %></td>
  <td><%= (stripe_charge = booking.price.to_i * 0.029 + 0.30).round(3) rescue nil %></td>
  <td><%= (booking.price - stripe_charge).round(3)  rescue nil %></td>
  <td><%= (booking.cut_off_price + 0.25).round(3) rescue nil %></td>
  <td>0.25</td>
  <td><%= booking.cut_off_price.round(3) rescue nil %></td>
  <td><%= booking.refund_finder - ((booking.refund_finder * 2.9)/100).round(3) rescue nil %></td>
  <td><%= ((booking.refund_finder * 2.9)/100).round(3) rescue nil %>
  <td><%= booking.refund_finder.round(3) rescue nil %>
  <td><%= booking.commission.round(3) rescue nil %>

</tr>
<% end %>
</table>




