<%= render 'selectdate' %>

<div  style="text-align:right;margin-left:10px;">
      <a href="<%= payement_transfers_path(params.merge(format: "xls")) %>" class="btn btn-secondary"><img src="/assets/excel.png" alt=""> Excel</a>
      <a href="<%= payement_transfers_path(params.merge(format: "pdf"))  %>" class="btn btn-secondary" target="_blank"><i class="icon"><img src="/assets/pdf.png" alt=""></i> PDF</a><br><br>
</div>

<table class="table table-striped">
<tr>
<th>Sr No.</th>
<th>Booking ID</th>
<th>Booking Area/Sq.Ft</th>
<th>Payment Received by Poster</th>
<th>Payment Done by Finder</th>
<th>Commission</th>
<th>Address</th>
<th>Transfer Status</th>
<th>Money Transfer</th>
<th>Action</th>
</tr>
<% @bookings.each_with_index do |booking, index|%>
  <%= render 'result_payment', :index => index, :booking => booking %>
<%end%>
</table>
<%= will_paginate @bookings %>
