     
    <% @posts.each_with_index do |post, index| %>
      <div class="box1">

         <% if params[:page].nil? || params[:page] == "0" || params[:page] == "1" %>
          <% x = 0 %>
        <% else %>
          <% page = params[:page].to_i - 1 %>
          <% x = page * 4 %>
        <% end %>

        <%= index+x+1 %>)
         <%= post.user_email rescue nil%>
        <%= post.id %>
        <%= post.price_sq_ft %>
        <%= post.created_at.strftime("%d-%m-%Y") %>
        <%= post.area %>
        $<%= post.price_sq_ft %>
        <%= post.address %>
        <% if post.status == true %> Active <% else %> Deactive <% end %>
        <% if user_signed_in? && signed_in? && current_user.admin?  %>

      <% if post.featured == true %>
     <%= link_to 'Deactive', toggled_feature_post_path(post.id)%>
      <% else %>
      <%= link_to 'Activate', toggled_feature_post_path(post.id)%>
      <% end %>
   
        <%else%>
        <%= link_to 'View Details', post_path(post) %>
        
        <div id="message_<%= post.id %>"><%= link_to "Send Message ", compose_message_messages_path(:user_id => post.user_id,:post_id => post.id ), :remote=>true %></div>
        <%end%> 
     </div>
    <% end %>
