

  <script type="text/javascript">

    jQuery(function($){
      $("#post_pick_up_avaibilty_start_date").datepicker({dateFormat: 'yy-mm-dd',changeMonth: false,changeYear: false, minDate: 0, showOn: 'button', buttonImage: 'http://jqueryui.com/resources/demos/datepicker/images/calendar.gif', buttonImageOnly: true})

    });
    jQuery(function($){
      $("#post_pick_up_avaibility_end_date").datepicker({dateFormat: 'yy-mm-dd',changeMonth: false,changeYear: false, minDate: 0, showOn: 'button', buttonImage: 'http://jqueryui.com/resources/demos/datepicker/images/calendar.gif', buttonImageOnly: true})
    });
    jQuery(function($){
      $("#post_drop_off_avaibility_start_date").datepicker({dateFormat: 'yy-mm-dd',changeMonth: false,changeYear: false, minDate: 0, showOn: 'button', buttonImage: 'http://jqueryui.com/resources/demos/datepicker/images/calendar.gif', buttonImageOnly: true})
    });
    jQuery(function($){
      $("#post_drop_off_avaibility_end_date").datepicker({dateFormat: 'yy-mm-dd',changeMonth: false,changeYear: false, minDate: 0, showOn: 'button', buttonImage: 'http://jqueryui.com/resources/demos/datepicker/images/calendar.gif', buttonImageOnly: true})
    });
    
    $(document).ready(function(){
        $('input[type="checkbox"]').click(function(){
            if($(this).attr("id")=="post_pick_up"){
                $(".post_pick_up").toggle();
            }
            if($(this).attr("id")=="post_drop_off"){
                $(".post_drop_off").toggle();
            }
            
        });
    });

  </script>



  

<%= javascript_include_tag "jquery-1.4.2.min","jquery.validate.min","validation" %>

<%= form_for(@post, :html=>{ id: "new_post"}) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :area %>
    <%= f.text_field :area %>
  </div>

  <div class="field">
    <%= f.label :price_sq_ft, "Price per square feet" %>
    <%= f.text_field :price_sq_ft %>
  </div>

  <div class="field">
     <%= f.check_box :drop_off %> Drop Off  <%= f.check_box :pick_up %> Pick Up <br/><br/>
  </div>

  <div class="field post_pick_up" <% if @post.pick_up == true %> <% else %> style="display: none;" <% end %>>
    <%= f.label :price_include_pick_up, "Pick up Price"%>
    <%= f.text_field :price_include_pick_up %>
  </div>

  <div class="field post_drop_off" <% if @post.drop_off == true %> <% else %> style="display: none;" <% end %>>
    <%= f.label :price_include_drop_off, "Drop off Price" %>
    <%= f.text_field :price_include_drop_off %>
  </div>


  <div class="field">
   
       <%= f.label :drop_off_avaibility_start_date %>
       <%= f.text_field :drop_off_avaibility_start_date %>
      

  </div>

  <div class="field">
 
      <%= f.label :drop_off_avaibility_end_date %>
      <%= f.text_field :drop_off_avaibility_end_date %>

  </div>

  <div class="field">
   
      <%= f.label :pick_up_avaibilty_start_date %>
      <%= f.text_field :pick_up_avaibilty_start_date %>

      <%= f.label :pick_up_avaibility_end_date %>
      <%= f.text_field :pick_up_avaibility_end_date %>

  </div>

   <div class="field">
    <%= f.label :additional_comments %>
    <%= f.text_area :additional_comments %>
    <%= f.hidden_field :user_id, :value=> current_user.id %>
  </div>
 
  <div class="field">
      <%= f.label :photo, "Photo" %>
       <% if @post.photo.exists? %>
       <%= image_tag @post.photo.url(:thumb) %>
       <% end %>
      <%= f.file_field:photo %><br><br>
  </div>
   <div class="field">
    <%= f.label :address %>
    <%= f.text_area :address %>
  </div>

  <div class="actions">
    <%= f.submit :class=>"btn btn-primary" %>

    <% if @post.id %>
      <% if @post.status == true %>
      &nbsp;&nbsp;&nbsp;&nbsp; <%= link_to 'Deactive Post', toggle_post_path(@post.id), :class=>"btn btn-primary" %>
      <% else %>
      &nbsp;&nbsp;&nbsp;&nbsp; <%= link_to 'Activate Post', toggle_post_path(@post.id), :class=>"btn btn-primary" %>
      <% end %>
      &nbsp;&nbsp;&nbsp;&nbsp; <%= link_to 'Delete Post', post_path(@post.id), method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-primary" %>
      
    <% end %>
  </div>
<% end %>
