


    <% @posts.each_with_index do |post, index| %>
    <% if params[:page].nil? || params[:page] == "0" || params[:page] == "1" %>
      <% x = 0 %>
    <% else %>
      <% page = params[:page].to_i - 1 %>
      <% x = page * 4 %>
    <% end %>

    <div class="new_box">
      <a onmouseout="hover.out(<%= index+x %>)" onmouseover="hover.over(<%= index+x %>)" href="<%= post_path(post) %>" id="m<%= post.id %>">
              <div class="img1">
              
              <div class="1" style="float:left; margin-right:10px;"> 
                  <% if post.photo.url(:thumb) == "/photos/thumb/missing.png" %>
                      <%= image_tag "default_post_small.png", :style=>"margin-top:4px;" %>
                  <% else %>
                      <%= image_tag(post.photo.url(:thumb), :style=>"margin-top:4px;") %>
                 <% end %>
               
              </div>
              <div class="circle">
               <p>$<%= post.price_sq_ft.to_i %></p></div>
                </div>
        
        
                <div class="add">
                 <p style="float:left; "> <strong style="font-size:14px; color:#0b243a; font-family:brandon2;"><%= post.user.name.capitalize rescue nil%> <%= post.user.last_name[0,1] rescue nil %></strong> ( 5 mutual friends )<br>
                  <%= post.drop_off_avaibility_start_date.strftime("%b %e") %> -  <%= post.drop_off_avaibility_end_date.strftime("%b %e") %>
                  <p class="tooltip" style="color:#999;">
                  <% if post.drop_off == true %> 
                    <img src="/assets/right.png" style="margin:27px 0 0 -100px"><span class="classic">Drop-off ride available ($<%= post.price_include_drop_off.to_i %>) </span> <% else %>  <p class="tooltip" style="color:#999;"><img src="/assets/close1.png" style="margin:27px 0 0 -100px"><span class="classic">Drop-off ride unavailable </span> </p><br>
                  <% end %>
                  </p><br>
                 
               <p class="add1" style="margin-top:13px; font-size:10px;" > <%= post.pick_up_avaibilty_start_date.strftime("%b %e") %> - <%= post.pick_up_avaibility_end_date.strftime("%b %e") %> </p>

               <p class="tooltip" style="color:#999;margin-right:-60px;">
                <% if post.pick_up == true %> 
                  <img src="/assets/right.png"style="margin:18px 0 0 94px;"><span class="classic">Pick-up ride available ($ <%= post.price_include_pick_up %>) </span> 
                <% else %>  
                  <img src="/assets/close1.png"style="margin:18px 0 0 94px;"> <span class="classic">Pick-Up ride unavailable </span> 
                <% end %>   
                </p>

                 <p style="float:right;font-size:11px; margin:-6px 79px 0px 0px; line-height:12px; "><strong style="font-size:14px; color:#0b243a; font-family:brandon2;"><%= params[:search] ?  params[:search][:miles].present? && params[:search][:address].present? ? "#{post.distance.round(2)} miles" : '' : '' %></strong></p>
                  <div class="address">  <%= post.address %></div>
                <div class="clear"></div>
                
                 <p style="font-size:10px;  margin:-10px 0px 0px 10px;"> <%= post.area %> sq.ft.available - <%= truncate(post.additional_comments, :length => 30) %></p>
              <div class="btn_b1"> 
             <div id="cf">
                  <img class="bottom" src="/assets/b2.png" />
                  <img class="top" src="/assets/b1.png" />
                    </div>
                     </div>
  
             
      </div></a>
      </div>

    <% end %>

