<%= stylesheet_link_tag "facebox.css" %>
<%= javascript_include_tag "facebox.js", "endless_page.js" %>

          <%= form_for :search, :url=>{:controller=>'posts', :action=>'all_posts'},:html => {:method => "post"} do |f| %>
                  <div class="field">
                    Price
                  &nbsp; &nbsp; &nbsp;&nbsp;<%= f.text_field :price, :value=> "#{params[:search][:price] if request.post?}" %>
                
                  </div>
                  <div class="field">
                    Area
                   &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;<%= f.text_field :area, :value=> "#{params[:search][:area] if request.post?}" %>
                  </div>
                  <div class="field">
                    Distance
                    <%= f.text_field :distance, :value=> "#{params[:search][:distance] if request.post?}" %>
                  </div>
                  <div class="field">
                    Address
                    &nbsp;<%= f.text_field :address, :value=> "#{params[:search][:address] if request.post?}" %>
                  </div>
                   
                  <div class ="field">
                 
                  </div>

             <div class="actions"><%= f.submit "Search" ,:class => "btn btn-secondary" %></div>
                 
              <%end%>


<h4> Posts</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Sr No.</th>
      <th>Post ID</th>
       <th>Price</th>
      <th>Post Date</th>
      
      <th>Area (Sq ft)</th>
      <th>Price (Sq ft)</th>
      <th>Address</th>
      <th>Status</th>
      <th>Action</th>
    
      <th>Send Message</th>
       
    </tr>
  </thead>

  <tbody id="all_posts">
    <%= render(:partial => 'posts/all_post') %>
    
  </tbody>
</table>

<%= will_paginate @posts %>

