
               <%= form_tag search_path, :method => 'get'  do %>
                   <%#@posts.each do |f|%>
                  <div class="field">
                    Price
                  &nbsp; &nbsp; &nbsp;&nbsp;<%= text_field_tag :search, params[:price_sq_ft] %>
                
                  </div>
                  <div class="field">
                    Area
                   &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;<%= text_field_tag :search, params[:area] %>
                  </div>
                  <div class="field">
                    Distance
                    <%= text_field_tag :search, params[:address] %>
                  </div>
                  <div class="field">
                    Address
                    &nbsp;<%= text_field_tag :search, params[:address] %>
                  </div>
                   
                  <div class ="field">
                  <!-- <%#= check_box_tag :pick_up %> Pick Up <%#= check_box_tag :drop_off %> Drop Off <br/><br/> -->
                  </div>

             <div class="actions"><%= submit_tag "Search" ,:class => "btn btn-secondary"%></div>
                  <%#= submit_tag "Search by date" ,:class => "btn btn-secondary",:style=>"margin-left: 254px;margin-top:-88px;" %>
              <%#end%>
              <%end%>

    <!--                         <%#= form_tag search_path,:id=>"searchform1", :class=>"searchform", :method=> :get do %>
                        <%#= text_field_tag :q, nil,:class=>"s",:id=>"s1" %>
                        <%#= text_field_tag :q, nil,:class=>"s",:id=>"s1" %>
                        <%#= text_field_tag :q, nil,:class=>"s",:id=>"s1" %>
                        <%#= text_field_tag :q, nil,:class=>"s",:id=>"s1" %>
                        <%#= submit_tag "Search" ,:class => "btn btn-secondary"%>
                        <%#=  image_submit_tag ("/assets/search.png"),:class=>"searchsubmit" ,:id=>"searchsubmit1"%> 
              <%#end%> -->

<p><%= link_to "My Post", posts_path %> | <%= link_to "Archive Post", archive_posts_path %></p><br/>

<h4>My Post</h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Sr No.</th>
      <th>Post ID</th>
       <th>Price</th>
      <th>Post Date</th>
      
      <th>Area (Sq ft)</th>
      <th>Price (Sq ft)</th>
      <th>Address</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each_with_index do |post, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= post.id %></td>
        <td><%= post.price_sq_ft %></td>
        <td><%= post.created_at.strftime("%d-%m-%Y") %></td>

        <td><%= post.area %></td>
        <td>$<%= post.price_sq_ft %></td>

        <td><%= post.address %></td>
        <td><% if post.status == true %> Active <% else %> Deactive <% end %></td>
        <td><%= link_to 'View Details', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
