<p><%= link_to "My Post", posts_path %> | <%= link_to "Archive Post", archive_posts_path %></p><br/>

<h4>My Post</h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Sr No.</th>
      <th>Post ID</th>
      <th>Post Date</th>
      <th>Area (Sq ft)</th>
      <th>Price (Sq ft)</th>
      <th>Address</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each_with_index do |post, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= post.id %></td>
        <td><%= post.created_at.strftime("%d-%m-%Y") %></td>
        <td><%= post.area %></td>
        <td>$<%= post.price_sq_ft %></td>
        <td><%= post.address %></td>
        <td><% if post.status == true %> Active <% else %> Inactive <% end %></td>
        <td><%= link_to 'View Details', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
