
   <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
      function initialize() {

        // Create an array of styles.
        var styles = [
          {
            stylers: [
              { hue: "#00b4ff" },
              { saturation: 50 }
            ]
          },{
            featureType: "road",
            elementType: "geometry",
            stylers: [
              { hue: "#28A0E5" },
              { visibility: "simplified" }
            ]
          },{
            featureType: "road",
            elementType: "labels",
            stylers: [
              { visibility: "off" }
            ]
          }
        ];

        // Create a new StyledMapType object, passing it the array of styles,
        // as well as the name to be displayed on the map type control.
        var styledMap = new google.maps.StyledMapType(styles, {name: "Styled Map"});

        var myLatlng = new google.maps.LatLng(<%= @post.latitude %>,<%= @post.longitude %>);
        var mapOptions = {
          zoom: 12,
          center: myLatlng,
          panControl: true,
          zoomControl: true,
          disableDefaultUI: true
        }
        
          var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

          var marker = new google.maps.Marker({
              position: myLatlng,
              map: map,
              icon: "/assets/marker.png"
              
          });

          //Associate the styled map with the MapTypeId and set it to display.
          map.mapTypes.set('map_style', styledMap);
          map.setMapTypeId('map_style');

      }



      google.maps.event.addDomListener(window, 'load', initialize);

      </script>

      <script type="text/javascript">

    jQuery(function($){
      
      $("#booking_dropoff_date").datepicker({dateFormat: 'd M yy', showOn: 'button', buttonImage: '/assets/calendar_post.jpg', buttonImageOnly: true, minDate: new Date('<%= @post.drop_off_avaibility_start_date %>'), maxDate: new Date('<%= @post.drop_off_avaibility_end_date %>')})

      $("#booking_pickup_date").datepicker({dateFormat: 'd M yy', showOn: 'button', buttonImage: '/assets/calendar_post.jpg', buttonImageOnly: true, minDate: new Date('<%= @post.pick_up_avaibilty_start_date %>'), maxDate: new Date('<%= @post.pick_up_avaibility_end_date %>')})



      jQuery('input').live('blur', function() {
        
            if (jQuery("#booking").valid()) {
              
                jQuery('#customButton').removeAttr('disabled'); 
            } else {
                jQuery('#customButton').attr('disabled', 'disabled');
            }
        });



    });

  </script> 


<%= stylesheet_link_tag 'bookreviews.css','font-awesome.css', "facebox.css", "jquery.ui.core", "jquery.ui.theme", "jquery.ui.datepicker" %>
<%= javascript_include_tag "jquery-1.7.0.min","jquery.validate.min","validation", "facebox.js", "jquery.ui.core", "jquery.ui.datepicker.js" %>

<script src="https://checkout.stripe.com/v2/checkout.js"></script>

<script type='text/javascript'>//<![CDATA[ 

jQuery(document).ready(function(){

    $('#area').live('input',function() {
        update_amounts();
    });


    function update_amounts()
    {
        // update the total to sum    
        var qty = parseInt($('#area').val());
        var price = parseFloat($('#price').val());

        var drop_off = 0;
        var pickup = 0;

        if($('#checkbox1').is(":checked"))
        {
          var drop_off = parseFloat($('#dropoff').val());
        }
        if($('#checkbox2').is(":checked"))
        {
          var pickup = parseFloat($('#pickup').val());
        }

          $('#area_needed').html("$"+(qty * price ? qty * price : 0)+"");
          $('#check_drop').html("$"+(drop_off)+"");
          $('#check_pickup').html("$"+(pickup)+"");
          $('#dropoff_price').val(drop_off);
          $('#pickup_price').val(pickup);
          $('#total').html("$"+(qty * price + drop_off + pickup ? qty * price + drop_off + pickup : 0).toFixed(2)+"");
          $('#booking_price').val((qty * price + drop_off + pickup ? qty * price + drop_off + pickup : 0).toFixed(2));
          $('#totalPrice').val(((qty * price + drop_off + pickup) * 100 ? (qty * price + drop_off + pickup) * 100 : 0));
         
    }


    //Pickup and drop off calculation.
    
    $('#checkbox1').change(function() {

       var qty = parseInt($('#area').val());
       var price = parseFloat($('#price').val());
       var drop_off = 0;
       var pickup = 0;
       
        if($('#checkbox1').is(":checked"))
        {
          var drop_off = parseFloat($('#dropoff').val());
        }
        if($('#checkbox2').is(":checked"))
        {
          var pickup = parseFloat($('#pickup').val());
        }

        var total = parseFloat((qty * price ? qty * price : 0).toFixed(2));

        if($(this).is(":checked")) {
         
          $('#area_needed').html("$"+(qty * price ? qty * price : 0)+"");
          $('#check_drop').html("$"+(drop_off)+"");
          $('#check_pickup').html("$"+(pickup)+"");
          $('#dropoff_price').val(drop_off);
          $('#pickup_price').val(pickup);
          $('#total').html("$"+(qty * price + drop_off + pickup ? qty * price + drop_off + pickup : 0).toFixed(2)+"");
          $('#booking_price').val((total + drop_off + pickup ? total + drop_off + pickup : 0).toFixed(2));
          $('#totalPrice').val(((qty * price + drop_off + pickup) * 100 ? (qty * price + drop_off + pickup) * 100 : 0));

           var fees = (total + drop_off + pickup ? total + drop_off + pickup : 0).toFixed(2);        
            if (fees <= 8)
            {
              //alert("Raje");
               var cut_off = fees * 0.80;
               $('#cut_off').html("+ Our Commission&nbsp;" + cut_off.toFixed(2)); 
            }
             else if (price > 8)
             {
               //alert("Amol");
                var cut_off =  fees * (10/100);
                $('#cut_off').html("+ Our Cut&nbsp;" + cut_off.toFixed(2)); 
             }
               
          }
        
        else
        {
          $('#area_needed').html("$"+(qty * price ? qty * price : 0)+"");
          $('#check_drop').html("$"+(drop_off)+"");
          $('#check_pickup').html("$"+(pickup)+"");
          $('#dropoff_price').val(drop_off);
          $('#pickup_price').val(pickup);
          $('#total').html("$"+(qty * price + drop_off + pickup ? qty * price + drop_off + pickup : 0).toFixed(2)+"");
          $('#booking_price').val((total + drop_off + pickup ? total + drop_off + pickup : 0).toFixed(2));
          $('#totalPrice').val(((qty * price + drop_off + pickup) * 100 ? (qty * price + drop_off + pickup) * 100 : 0));
        }

    });

    $('#checkbox2').change(function() {

       var qty = parseInt($('#area').val());
       var price = parseFloat($('#price').val());
       var drop_off = 0;
       var pickup = 0;
      
        if($('#checkbox1').is(":checked"))
        {
          var drop_off = parseFloat($('#dropoff').val());
        }
        if($('#checkbox2').is(":checked"))
        {
          var pickup = parseFloat($('#pickup').val());
        }

        var total = parseFloat((qty * price ? qty * price : 0).toFixed(2));

        if($(this).is(":checked")) {
         
          $('#area_needed').html("$"+(qty * price ? qty * price : 0)+"");
          $('#check_drop').html("$"+(drop_off)+"");
          $('#check_pickup').html("$"+(pickup)+"");
          $('#dropoff_price').val(drop_off);
          $('#pickup_price').val(pickup);
          $('#total').html("$"+(qty * price + drop_off + pickup ? qty * price + drop_off + pickup : 0).toFixed(2)+"");
          $('#booking_price').val((total + drop_off + pickup ? total + drop_off + pickup : 0).toFixed(2));
          $('#totalPrice').val(((qty * price + drop_off + pickup) * 100 ? (qty * price + drop_off + pickup) * 100 : 0));
         
        }
        else
        {
           $('#area_needed').html("$"+(qty * price ? qty * price : 0)+"");
           $('#check_drop').html("$"+(drop_off)+"");
           $('#check_pickup').html("$"+(pickup)+"");
           $('#dropoff_price').val(drop_off);
           $('#pickup_price').val(pickup);
          $('#total').html("$"+(qty * price + drop_off + pickup ? qty * price + drop_off + pickup : 0).toFixed(2)+"");
          $('#booking_price').val((total + drop_off + pickup ? total + drop_off + pickup : 0).toFixed(2));
          $('#totalPrice').val(((qty * price + drop_off + pickup) * 100 ? (qty * price + drop_off + pickup) * 100 : 0));
        }       
    });


    $("#ref_comment").load('<%= comments_path(:post_id => @post.id) %>');


});//]]>  


  
</script>
                
                
            
              <div class="main2">
                <div class="s1">
                   <div id="map-canvas"></div>
                 </div>
                 
                 
               <div class="s2">
           
           <div class="kal">  
            <% if @post.photo.url(:medium) == "/photos/medium/missing.png" %>
              <%= image_tag "default_post_large.png", :style => "width:512px" %>
            <% else %>
              <%= image_tag(@post.photo.url(:medium), :style => "width:512px") %>
            <% end %>

           </div>
               <div class="sam"><p class="sq">$<%= @post.price_sq_ft.to_i %>/sq.ft. <span class="sq1">for entire duration</span></p></div>
                
                 </div> 
              
              
                 <div class="s3">
                 <div class="review"><p style="float: left; border-left-width: 0px; padding-left: 0px;">Reviews</p>
                 <div class="star-new" style="float:right; margin: 20px 35px 0 0; font-size:15px; color:#9198a0;">
                  <%= "(" + pluralize(@post.comments.count.to_s, "")+")" %>
                  <% num_stars(@post.overall_rating)[:full].times do %>
                    <i class="fa fa-star"></i>
                  <% end %>
                  <% num_stars(@post.overall_rating)[:half].times do %>
                    <i class="fa fa-star-half-o"></i>
                  <% end %>
                  <% num_stars(@post.overall_rating)[:empty].times do %>
                    <i class="fa fa-star-o"></i>
                  <% end %>

                  </div>
                  </div>


                    <div class="p1" style="width:480px; margin-left:-3px;" id="ref_comment">  
                      
                    </div>
            
                 </div>
                  
                 <div class="s4">
                  <div class="ami">
                   <p class="ami1"><%= @post.user_name.capitalize rescue nil%> <%= @post.user_last_name[0,1] rescue nil %> <strong style="font-size:10px;"><% if current_user.provider.present? &&  @post.user_provider.present? && @post.user_id != current_user.id %>(<%= mutual_friend_list(@post.user.id) rescue nil%> mutual friends)<% end %></strong>

                   </p>
                   <div class="street">
                     <p><%= @post.address %><br/>
                     <%= @post.street_add %> <%= @post.apt%><br/>
                     <%= @post.city%> <%= @post.state%> <br/>
                     <%= @post.zip_code%></p> 
                   </div>
                      
                   <div id="message_<%= @post.id %>">
                    <%= link_to "Message ", compose_message_messages_path(:user_id => @post.user_id,:post_id => @post.id ), :remote=>true, :class=>"sms_btn" %>
                   </div>

                   <p class="sed2" style="line-height:12px;"><%= @post.additional_comments %></p>
                  <input type='hidden' name='price' id='price' value='<%= @post.price_sq_ft %>' />
                   <input type='hidden' name='dropoff' id='dropoff' value='<%= @post.price_include_drop_off ? @post.price_include_drop_off : 0 %>' />
                  <input type='hidden' name='pickup' id='pickup' value='<%= @post.price_include_pick_up ? @post.price_include_pick_up : 0  %>' />
              <%= hidden_field_tag :remaining_area, @remaining_area.to_i %>

              <%= form_for :booking, :url=>{:controller=>'bookings',:action=>'checkout'}, :html=>{ :id=>"booking"} do |f| %>

              <%= f.hidden_field :post_id, :value => @post.id %>
              <%= f.hidden_field :poster_id, :value=> @post.user_id %>

              <div class="function">
                <div class="f1">
                
                      <div class="f1_tool" style="margin-top:20px;">Area needed <a class="tooltip10" href="#" style="color:#999; text-decoration:none;">
                      
                         <div id="cf2">
                  <img class="bottom" src="/assets/queh.png" />
                  <img class="top" src="/assets/que.png" />
                    </div>
                      
                      
                      <span class="classic10"> This is just an example of what  </span> </a></div>
                     <p class="sed">How to estimate :<br>
                     4 feet x 5 feet = 20 sq. feet</p><div class="clear"></div>
                     <div class="styleSelect1">

                      <%= text_field_tag :area, nil, :class=>"units" %> 
                   
                     </div> 
                     <p class="miles3"> <%= @remaining_area.to_i %> sq. feet available</p>
                   <p class="sed" style="float:right; margin:-36px -4px 0 20px;">x $<%= @post.price_sq_ft.to_i %><span style="margin:0 0 0 25px; font-size:14px;" id="area_needed"> $0</span></p>
                </div>
                <div class="f1">
                      <div class="f1_tool" style="margin-top:10px; ">Drop-off date <a class="tooltip10" href="#" style="color:#999; ">
                   <div id="cf2" style="margin-left:78px;">
                  <img class="bottom" src="/assets/queh.png" />
                  <img class="top" src="/assets/que.png" />
                    </div>
                      
                      
                    <span class= "classic10"> Ride for drop off is $5 <u>learn_More</u> </span> </a></div>
                      <div class="drop_off_date dates" style="margin-top:-10px;">
                        
                        <%= f.text_field :dropoff_date, :readonly=>true, :style=>"width: 29px;" %>
                      </div>

                      <p class="miles3" style="padding-left:7px;"> <%= @post.drop_off_avaibility_start_date.strftime("%b %e") %> -  <%= @post.drop_off_avaibility_end_date.strftime("%b %e") %></p>

                   <p class="sed" style="float:right; margin:-32px -2px 0 0px;">-</p>
                </div>
                <div class="f1">
                      <div class="f1_tool">Need a ride for drop-off <a class="tooltip10" href="#" style="color:#999; text-decoration:none;">
                      <div id="cf2" style="margin-left:134px;">
                      <img class="bottom" src="/assets/queh.png" />
                      <img class="top" src="/assets/que.png" />
                    </div>
                      
                      
                      <span class= "classic10"> Ride for drop off is $<%= @post.price_include_drop_off ? @post.price_include_drop_off.to_i : 0 %> <u>learn_More</u> </span> </a></div>
                 
                  <% if @post.drop_off == true %> 
                    <div class="pickup3" style="margin:-20px 0 0 212px">
                      <input type="checkbox" id="checkbox1" />
                      <label for="checkbox1">&nbsp;</label>
                    </div>
                    <p class="miles3" style="padding-left:60px;"> $<%= @post.price_include_drop_off ? @post.price_include_drop_off.to_i : 0 %></p>
                    <p class="sed" style="float:right; margin:-32px -2px 0 30px; font-size:14px;" id="check_drop">$0</p>
                  <% else %>
                    <div class="styleSelect3">
                      <p> Unavailable</p>
                    </div>

                    <p class="sed" style="float:right; margin:-32px -2px 0 30px; font-size:14px;" id="check_drop">-</p>
                  <% end %>

                </div>
                <div class="f1">
                      <div class="f1_tool">Tentative pick-up date <a class="tooltip10" href="#" style="color:#999; text-decoration:none;"> 
                      <div id="cf2" style="margin-left:123px;">
                  <img class="bottom" src="/assets/queh.png" />
                  <img class="top" src="/assets/que.png" />
                    </div>
                     
                      
                      
                      <span class="classic10"> This is just an example of what  </span> </a></div>
                 

                       <div class="drop_off_date dates" style="margin-top:-23px;">
                        <%= f.text_field :pickup_date, :readonly=>true, :style=>"width: 29px;" %>

                      </div>

                     

                     <p class="miles3" style="padding-left:10px;"> <%= @post.pick_up_avaibilty_start_date.strftime("%b %e") %> - <%= @post.pick_up_avaibility_end_date.strftime("%b %e") %></p>
                   <p class="sed" style="float:right; margin:-32px -2px 0 0px;">-</p>
                </div>
                <div class="f1">
                      <div class="f1_tool">Need a ride for pick-up <a class="tooltip10" href="#" style="color:#999; text-decoration:none;">
                       <div id="cf2" style="margin-left:128px;">
                  <img class="bottom" src="/assets/queh.png" />
                  <img class="top" src="/assets/que.png" />
                    </div>
                      
                      <span class="classic10">  This is just an example of what  </span> </a></div>
                      
                  <% if @post.pick_up == true %> 
                      
                 
                     <div class="pickup3" style="margin:-20px 0 0 212px">
                      <input type="checkbox" id="checkbox2" />
                      <label for="checkbox2">&nbsp;</label>
                     </div>
                    
                    <p class="miles3" style="padding-left:60px;"> $<%= @post.price_include_pick_up ? @post.price_include_pick_up.to_i : 0 %></p>
                    <p class="sed" style="float:right; margin:-32px -2px 0 30px; font-size:14px;" id="check_pickup">$0</p>
                  <% else %>
                    <div class="styleSelect3">
                      <p> Unavailable</p>
                      <p class="miles3" style="padding-left: 60px;"></p>
                    </div>

                    <p class="sed" style="float:right; margin:-32px -2px 0 30px; font-size:14px;" id="check_pickup">-</p>
                  <% end %>

                </div>
           </div>
           

            <div class="square_btn">
              <%= f.submit "Book", :class => "book", :id=>"customButton", :disabled=> true %>
              <div class="total"> Total <strong style="margin-left:10px;" id="total"> </strong></div>
            </div>


               <input type="hidden" name="dropoff_price" id="dropoff_price" value=""/>
               <input type="hidden" name="pickup_price" id="pickup_price" value=""/>
               <input type="hidden" name="totalPrice" id="totalPrice" value=""/>

               <script>
               jQuery('#customButton').click(function(){
                 var token = function(res){
                 var $input = $('<input type=hidden name=stripeToken />').val(res.id);
                 var $input2 = $('<input type=hidden name=stripeEmail />').val(res.email);
                 $('form').append($input, $input2).submit();
               };

               StripeCheckout.open({
               key:         'pk_test_17xmTuMVQ5oVgcT0AWY6XcNo',
               address:     false,
               amount:      document.getElementById('totalPrice').value,
               currency:    'usd',
               image:       '/assets/dinobo_stripe.jpg',
               name:        'Dinobo',
               description: '<%= @post.user_name.capitalize rescue nil%> <%= @post.user_last_name[0,1] rescue nil %> ( $'+ document.getElementById('totalPrice').value / 100+ ')' ,
               panelLabel:  'Checkout',
               token:       token
               });

               return false;
               });
               </script>

            <div class="clear"></div>
           <% end %>             
                    
      </div>
        </div>
                    
</div><!-- -----------------main------------------------- -->
