<%= stylesheet_link_tag 'bookreviews.css','font-awesome.css'%>
<%= javascript_include_tag "jquery-1.4.2.min","jquery.validate.min","validation" %>

<script type='text/javascript'>//<![CDATA[ 

jQuery(document).ready(function(){

    $('#area').live('input',function() {
        update_amounts();
    });


    function update_amounts()
    {
        // update the total to sum    
        var qty = parseInt($('#area').val());
        var price = parseFloat($('#price').val());
        var drop_off = 0;
        var pickup = 0;

        if($('#checkbox1').is(":checked"))
        {
          var drop_off = parseFloat($('#dropoff').val());
        }
        if($('#checkbox2').is(":checked"))
        {
          var pickup = parseFloat($('#pickup').val());
        }

        $('#total').val((qty * price + drop_off + pickup ? qty * price + drop_off + pickup : 0).toFixed(2));
        $('#booking_price').val((qty * price + drop_off + pickup ? qty * price + drop_off + pickup : 0).toFixed(2));   
    }


    //Pickup and drop off calculation.
    
    $('#checkbox1').change(function() {

       var qty = parseInt($('#area').val());
       var price = parseFloat($('#price').val());
       var drop_off = 0;
       var pickup = 0;

        if($('#checkbox1').is(":checked"))
        {
          var drop_off = parseFloat($('#dropoff').val());
        }
        if($('#checkbox2').is(":checked"))
        {
          var pickup = parseFloat($('#pickup').val());
        }

        var total = parseFloat((qty * price ? qty * price : 0).toFixed(2));

        if($(this).is(":checked")) {
         
          $('#total').val((total + drop_off + pickup ? total + drop_off + pickup : 0).toFixed(2));
          $('#booking_price').val((total + drop_off + pickup ? total + drop_off + pickup : 0).toFixed(2));
        }
        else
        {
          $('#total').val((total + drop_off + pickup ? total + drop_off + pickup : 0).toFixed(2));
          $('#booking_price').val((total + drop_off + pickup ? total + drop_off + pickup : 0).toFixed(2));
        }

    });

    $('#checkbox2').change(function() {

       var qty = parseInt($('#area').val());
       var price = parseFloat($('#price').val());
       var drop_off = 0;
       var pickup = 0;

        if($('#checkbox1').is(":checked"))
        {
          var drop_off = parseFloat($('#dropoff').val());
        }
        if($('#checkbox2').is(":checked"))
        {
          var pickup = parseFloat($('#pickup').val());
        }

        var total = parseFloat((qty * price ? qty * price : 0).toFixed(2));

        if($(this).is(":checked")) {
         
          $('#total').val((total + drop_off + pickup ? total + drop_off + pickup : 0).toFixed(2));
          $('#booking_price').val((total + drop_off + pickup ? total + drop_off + pickup : 0).toFixed(2));
        }
        else
        {
          $('#total').val((total + drop_off + pickup ? total + drop_off + pickup : 0).toFixed(2));
          $('#booking_price').val((total + drop_off + pickup ? total + drop_off + pickup : 0).toFixed(2));
        }       
    });


});//]]>  

</script>


<table width="100%">
<tr>
<% if @post.overall_rating > 0 %>
     <p>
        <% num_stars(@post.overall_rating)[:full].times do %>
          <i class="fa fa-star"></i>
        <% end %>
        <% num_stars(@post.overall_rating)[:half].times do %>
          <i class="fa fa-star-half-o"></i>
        <% end %>
        <% num_stars(@post.overall_rating)[:empty].times do %>
          <i class="fa fa-star-o"></i>
        <% end %>
        <%= "(" + pluralize(@post.comments.count.to_s, "customer review") + ")" if @post.comments.count > 0 %>
     </p>
<% end %>

	<td><%= image_tag(@post.photo.url(:medium)) %> <br/>
   <strong>Name : </strong> <%= @post.user.name rescue nil %> <%= @post.user.last_name rescue nil %><br/>
		<strong>Price : </strong> $ <%= @post.price_sq_ft %> /Sq.ft <br/>

    <% if @post.drop_off %>
      <strong>Drop-Off : </strong> <%= @post.price_include_drop_off %> <br/>
      <strong>Drop-Off Avaibilty Date : </strong><%= @post.drop_off_avaibility_start_date.strftime("%d-%m-%Y") %> -  <%= @post.drop_off_avaibility_end_date.strftime("%d-%m-%Y") %><br/>
    <% end %>

    <% if @post.pick_up == true %> 
      <strong>Pick-Up Avaibilty Date : </strong> <%= @post.pick_up_avaibilty_start_date.strftime("%d-%m-%Y") %> - <%= @post.pick_up_avaibility_end_date.strftime("%d-%m-%Y") %><br/>
      <strong>Pick-Up : </strong> <%= @post.price_include_pick_up %> <br/>
    <% end %>
		
		
	</td>
	<td></td>
</tr>

<tr>
  <td>
    <input type='hidden' name='price' id='price' value='<%= @post.price_sq_ft %>' /> <input type='text' name='area' id='area' value='' /><br />

    <input type='hidden' name='dropoff' id='dropoff' value='<%= @post.price_include_drop_off ? @post.price_include_drop_off : 0 %>' />
    <input type='hidden' name='pickup' id='pickup' value='<%= @post.price_include_pick_up ? @post.price_include_pick_up : 0  %>' />
    <input type="checkbox" id="checkbox1" /> Drop Off <br />
    <input type="checkbox" id="checkbox2" /> Pick Up <br />
    <input type='text' name='total' id='total' value='' />


    
    <%= form_for :booking, :url=>{:controller=>'bookings',:action=>'checkout'} do |f| %>
      <%= f.hidden_field :post_id, :value => @post.id %>
      <%= f.hidden_field :poster_id, :value=> @post.user_id %>
      <%= f.hidden_field :price, :value => "" %>
      <%= f.submit "Book", :class => "btn btn-primary contact-form"%>
    <% end %>

  </td>

</tr>

</table>
<%if current_user.present?%>
    <h3>Post your comment</h3>
    <%= form_for [@post, Comment.new] ,:html=>{ id: "new_comment"} do |f| %>
    <%= f.hidden_field :user_id, :value=> current_user.id %>
        <fieldset class="rating">
        <%= f.radio_button(:rating, "5") %><%= f.label(:rating.to_s + "_5") %>
        <%= f.radio_button(:rating, "4") %><%= f.label(:rating.to_s + "_4") %>
        <%= f.radio_button(:rating, "3") %><%= f.label(:rating.to_s + "_3") %>
        <%= f.radio_button(:rating, "2") %><%= f.label(:rating.to_s + "_2") %>
        <%= f.radio_button(:rating, "1") %><%= f.label(:rating.to_s + "_1") %>
       </fieldset><br><br><br>
   <strong>Comment : </strong><%= f.text_area :comments ,:cols=>"30", :rows=>"4" %>
   <p ><%= f.submit "Add comment", :class => "btn btn-primary contact-form" %></p>
   <% end %>
<% end %>

  <b><%= @comments.count %></b> Comments<br>

    <% @comments.each do |comment| %>
    <% num_stars(comment.rating)[:full].times do %>
      <i class="fa fa-star"></i>
    <% end %>
    <% num_stars(comment.rating)[:half].times do %>
      <i class="fa fa-star-half-o"></i>
    <% end %>
    <% num_stars(comment.rating)[:empty].times do %>
      <i class="fa fa-star-o"></i>
    <% end %>
    <strong><%= comment.user.name rescue nil %>&nbsp;<%= comment.user.last_name rescue nil %></strong>&nbsp;<%= comment.created_at.strftime("%b %d,%Y") %><br><br>
    <%= comment.comments %><br><br>
    <%end%>
