<script>
function validateForm() {
	var err = 0;

	var userinput = $('#email').val();

	<% @access_ids = AccessId.all %>
	
	<% @access_ids.each_with_index do |access_id, index| %>
	var domain<%= index %> = '<%= access_id.email %>';
	<% end %>
	

	var pattern = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i

	if($('#email').val() == ''){
		        $('#email').parent().parent().find('.form-error').html("Please enter email address.");
		        err++;
		    }

	<% @access_ids.each_with_index do |access_id, index| %>
		<% if index == 0 %>
			

		    if(userinput.split('@').pop() == domain<%= index %>)
		    {

				if(!pattern.test(userinput) || userinput.split('@').pop() != domain<%= index %>)
				{
				 	$('#email').parent().parent().find('.form-error').html("Please enter valid email address.");
			        err++;
				}
			}
		<% else %>

		    else if(userinput.split('@').pop() == domain<%= index %>)
		    {

				if(!pattern.test(userinput) || userinput.split('@').pop() != domain<%= index %>)
				{
				 	$('#email').parent().parent().find('.form-error').html("Please enter valid email address.");
			        err++;
				}
			}
		<% end %>
	<% end %>
	else 
	{ 
		$('#email').parent().parent().find('.form-error').html("Please enter valid email address.");
	    err++;
	}

	if(err == 0){
            
             return true;      
    }else{
            
            return false;
    }

}
</script>

<%#= javascript_include_tag "jquery-1.4.2.min","jquery.validate.min","validation" %>

<div class="dragonContent">
 	<div class="dialog-content">

    <%= form_tag url_for(:controller => 'authenticates', :action => 'create'), :method => 'post', :id=>"userSignup", :onsubmit => "return validateForm()" do |f| %>
	    <%= label_tag :email %>
      <%= text_field_tag :email %>
      <div class="form-error"></div>
	    
	    <div><%= submit_tag "Save", :class=>"btn btn-primary" %> </div>
    <% end %>
  
    </div>
</div>