  <title>Dinobo</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <link href="/assets/jquery.ui.core.css?body=1" media="all" rel="stylesheet" />
  <link href="/assets/jquery.ui.theme.css?body=1" media="all" rel="stylesheet" />
  <link href="/assets/jquery.ui.datepicker.css?body=1" media="all" rel="stylesheet" />
  <%= javascript_include_tag "application", "https://js.stripe.com/v2/" %>
    <script src="/assets/jquery.ui.core.js?body=1"></script>
    <script src="/assets/jquery.ui.datepicker.js?body=1"></script>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-fixed-top" style="z-index:10300;">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </div>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
</body>
</html>