<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name = "viewport" content = "width = device-width">

<title>Dinobo</title>
<%= stylesheet_link_tag  'style', "components", "stylesheet-image-based", media: 'all'%>
<%= javascript_include_tag "application" %>

 <%= csrf_meta_tags %> 
</head>

<body style="background-color:#eeeeee;">

<div class="wrapper">
   <div class="main">        
           
            <div id="login1">
              <% if user_signed_in? %>
                <p style="margin:40px 0 0px 900px;">
                  <%= current_user.name rescue nil %> <%= current_user.last_name rescue nil %> <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
                </p>
              <% else %>
              <p style="margin:40px 0 0px 900px;">
                <%= link_to 'Login', new_user_session_path %>
              </p>
               
              <% end %>
            </div>
                
            <div id="menu">
               <a href="#"> <img src="/assets/menu.png" style="width:94px;">
               </a>
                <p style="margin:-56px 0 0 455px;">  <img src="/assets/logo.png"; style="width:120px;"></p>
            </div>
           

              <%= yield %>


            </div><!-------------------main------------------------- -->
        </div> <!-------------------wrapper------------------------- -->
            
            
</body>
</html>

            