<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name = "viewport" content = "width = device-width">

<title>Dinobo</title>
<%= stylesheet_link_tag  'style', "components", "component","facebox.css", "stylesheet-image-based", media: 'all'%>
<%= javascript_include_tag "application", "facebox.js" %>

 <%= csrf_meta_tags %> 
</head>

<body style="background-color:#eeeeee;">

<div class="wrapper">
   <div class="main">        
           
            <div id="login1">
              <% if user_signed_in? %>
                <p style="margin:40px 0 0px 900px;">
                  <%= current_user.name rescue nil %> <%= current_user.last_name rescue nil %> 
                  
                </p>
              <% else %>
              <p style="margin:40px 0 0px 900px;">
                <%= link_to 'Login', new_user_session_path, :remote=> true %> 
              </p>
               
              <% end %>
            </div>

            <div class="menu">
              <%= link_to image_tag("logo.png", :class=>"logo"),root_path%>
            
              <nav id="cbp-hrmenu" class="cbp-hrmenu">
                <ul>
                  <li>
                    <a href="#"></a>
                    <div class="cbp-hrsub">
                      <div class="main-new2">
                        <ul>
                            <% if user_signed_in? %>
                              <% if controller.controller_name == 'posts' %>
                                <li class="active">
                                    <%= link_to "List your place", posts_overview_path %>
                                </li>
                              <%else%>
                                <li>
                                  <%= link_to "List your place", posts_overview_path %>
                                </li>
                              <%end%>

                              <% if controller.controller_name == 'bookings' %>
                                <li class="active">
                                    <%= link_to "My Booking", bookings_path,:class=>"active"  %>
                                </li>
                              <%else%>
                                <li>
                                  <%= link_to "My Booking", bookings_path %>
                                </li>
                              <%end%>

                              <% if controller.controller_name == 'order_receives' %>
                              <li class="active">
                                  <%= link_to "My Order/Received", order_receives_path %>
                              </li>
                              <%else%>
                                <li>
                                  <%= link_to "My Order/Received", order_receives_path %>
                                </li>
                              <%end%>

                              <% if controller.controller_name == 'messages' %>
                              <li class="active">
                               <%= link_to("Messages <span>#{current_user.check_message rescue nil}</span>".html_safe, {:controller => '/messages',:action => 'is_read_all', :id =>current_user.id,:method => :post}) %> 
                              </li>
                              <%else%>
                                <li>
                                  <%= link_to("Messages <span>#{current_user.check_message rescue nil}</span>".html_safe, {:controller => '/messages',:action => 'is_read_all', :id =>current_user.id,:method => :post}) %> 
                                </li>
                              <%end%>
                              
                              <% if controller.controller_name == 'users' %>
                              <li class="active">
                                <%= link_to "My Account", edit_user_path(current_user),:class=>"active" %>
                              </li>
                              <%else%>
                                <li>
                                  <%= link_to "My Account", edit_user_path(current_user) %>
                                </li>
                              <%end%>

                              <% if controller.controller_name == 'about_us' %>
                              <li class="active">
                                <%= link_to "About Us", {:controller=>"/about_us", :action=>"about"} %>
                              </li>
                              <%else%>
                                <li>
                                  <%= link_to "About Us", {:controller=>"/about_us", :action=>"about"} %>
                                </li>
                              <%end%>

                              <li><a href="javascript:void(0);">Support</a></li>

                              <% if controller.controller_name == 'users' %>
                              <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
                              <%else%>
                              <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
                              <%end%>
                            <% else %>
                             <% if controller.controller_name == 'about_us' %>
                              <li class="active">
                                <%= link_to "About Us", {:controller=>"/about_us", :action=>"about"} %>
                              </li>
                              <%else%>
                                <li>
                                  <%= link_to "About Us", {:controller=>"/about_us", :action=>"about"} %>
                                </li>
                              <%end%>
                             <li><a href="javascript:void(0);">Support</a></li>     
                            <% end %>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </nav>
            </div>
           

              <%= yield %>
              

              

          
            <%= javascript_include_tag "animated_message", "cbpHorizontalMenu.min", "horizontalMenu" %>

            <%= javascript_include_tag "animated_message" %>

            <div id="animated_msg">

              <section class="animated alert">
                
                 
                  <!-- Error Message -->
                  <% flash.each do |name, msg| %>
                  <% if msg.is_a?(String) %>
                  
                    <p id="flashMsg" class="fixed-box">  
                      <%= msg %>
                  </p>
                  <% end %>
                  <% end %>

                  <!-- End -->

              </section>
            </div> 


            </div><!-------------------main------------------------- -->
        </div> <!-------------------wrapper------------------------- -->
            
            
</body>
</html>

            